In [43]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import warnings
import os
warnings.filterwarnings('ignore')

In [44]:
os.chdir('D:/loss on sale/')

In [45]:
#Termination Report File
Termination_Report=pd.read_csv(r"\\10.9.57.54\RPT_VF_Collections\Termination Report.csv")
#Branch List
branch=pd.read_excel("Branch List - Apr'24 Revised.xlsb",sheet_name='Sheet1')
#Product NCL File
product=pd.read_excel("Product NCL.xlsb",sheet_name='Sheet1')
#Yesterday File
old_file=pd.read_excel("Loss and bad debts as on 10-Apr-24.xlsb",sheet_name='Termination Report')
#Rollrate File
rollrate=pd.read_csv("ROLLRATE_DUMP.csv")

In [46]:
#Termination_Report=pd.read_csv(r"\\10.9.57.54\RPT_VF_Collections\Termination Report.csv")
Termination_Report

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,TO_CHAR_CM_AUTHDATE__DD_MON_YYYY__,PRINCIPLE,INSTALLMENTS,RECADVICES,PENALTY,...,FORECLOSE_CLOSE_FLAG,NOTICEID,NET_TAX_PENALTY,NET_TAX_CURRLPI,NET_TAX_CURRLPI_WAIVEOFF,NET_TAX_OVERDUE,ORG_SCHEMEID,ORG_SCHEME_DESC,SECURITSATION_BANK,CUSTOMERNAME
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,23-JAN-2017,0.00,0.0,37203.32,0.00,...,M,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,SURAJ KUMAR UPADHYAY
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,08-MAR-2019,0.00,0.0,0.00,0.00,...,M,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Shibu Pada Nath
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,08-MAR-2019,0.00,0.0,0.00,0.00,...,M,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Ruprao Bhaskar Banote
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,09-MAR-2019,0.00,0.0,0.00,0.00,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunil Mohanrao Mugale
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,09-MAR-2019,664479.73,0.0,0.00,26579.19,...,F,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,RITESH OMPRAKASH BHATIYA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,07-JUN-2022,92825.00,0.0,0.00,3713.00,...,F,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Bivash Rudra Pal
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,08-JUN-2022,319982.00,111465.0,89417.00,0.00,...,L,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,USHA KUMARI
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,08-JUN-2022,0.00,0.0,0.00,0.00,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shubham Kumar
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,08-JUN-2022,0.00,0.0,0.00,0.00,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABHISHEK GUPTA
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,08-JUN-2022,0.00,0.0,0.00,0.00,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deepak Singh

In [47]:
Termination_Report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11437 entries, 0 to 11436
Data columns (total 69 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   AGREEMENTID                               11437 non-null  int64
 1   AGREEMENTNO                               11437 non-null  object
 2   SCHEMEDESC                                11437 non-null  object
 3   BRANCHDESC                                11437 non-null  object
 4   NPA_STAGEID                               11437 non-null  object
 5   TO_CHAR_CM_AUTHDATE__DD_MON_YYYY__        11437 non-null  object
 6   PRINCIPLE                                 11437 non-null  float64
 7   INSTALLMENTS                              11437 non-null  float64
 8   RECADVICES                                11437 non-null  float64
 9   PENALTY                                   11437 non-null  float64
 10  OVERDUECHARGES                            11437 non-null  float64
 11  CURRENTMONTHINT                           11437 non-null  float64
 12  EXCESSPRINRCPT                            11437 non-null  int64
 13  UNADJINSTL                                11437 non-null  int64
 14  INTREFUND                                 11437 non-null  float64
 15  PAYADVICES                                11437 non-null  float64
 16  REBATE                                    11437 non-null  float64
 17  ADVINSTL                                  11437 non-null  int64
 18  EXCESSPRINPMNT                            11437 non-null  int64
 19  INTACCRUALS                               11437 non-null  float64
 20  WAIVEOFFAMOUNT                            11437 non-null  float64
 21  AUTHORIZEDBY                              11437 non-null  object
 22  TERMINATION_AUTHROIZEDON                  11437 non-null  object
 23  EXCESSAMOUNT                              11437 non-null  float64
 24  PAYABLE_ADJUST                            11437 non-null  object
 25  TERMINATIION_AMOUNT                       11437 non-null  float64
 26  CURRLPI                                   11437 non-null  int64
 27  FLOATINT                                  11437 non-null  int64
 28  CURRLPIWAVEOFFAMT                         11437 non-null  float64
 29  CURRMNTHPRIN                              7304 non-null   float64
 30  LPITILLDATE                               11437 non-null  object
 31  INCLUDERV                                 11437 non-null  object
 32  EXINTCOMP_RECD                            11437 non-null  int64
 33  EXINT_PAYABLE                             11437 non-null  int64
 34  EXINT_INCOME                              11437 non-null  int64
 35  TO_CHAR_TERM_DATELASTUPDT__DD_MON_YYYY__  11437 non-null  object
 36  FORECLOSE_FLAG                            0 non-null      float64
 37  FORECLOSE_BATCHNUMBER                     11437 non-null  int64
 38  FORCED_REQUESTED_FLAG                     11437 non-null  object
 39  WOFF_CURRMONTH_INT                        11437 non-null  float64
 40  WOFF_OVERDUE_CHARGE                       11437 non-null  float64
 41  WOFF_CHQBOUNCE_CHARGES                    11437 non-null  float64
 42  WOFF_OTHERS                               11437 non-null  float64
 43  WOFF_PREPAYPENALTY                        7304 non-null   float64
 44  BALANCE_PRIN_WAIVE_OFF                    11437 non-null  float64
 45  INSTALLMENT_PRIN_WAIVE_OFF                11437 non-null  float64
 46  INSTALLMET_INT_WAIVE_OFF                  11437 non-null  float64
 47  TOT_PRIN_WAIVE_OFF                        11437 non-null  float64
 48  TOT_BOUNCING_CHARGE                       11437 non-null  float64
 49  TOT_INT_WAIVE_OFF                         11437 non-null  float64
 50  TOT_PARKING_CHARGES                       11437 non-null  int64
 51  WOFF_PARKING_CHARGES                      11437 non-null  int64
 52  TOT_OTHER_REPO_CHARGES                    11437 non-null  int64
 53  WOFF_OTHER_REPO_CHARGES                   11437 non-null  int64
 54  BALPRIN                                   11437 non-null  object
 55  DISCNT_FACTOR                             7304 non-null   float64
 56  DISCNT_CRITERIA                           7304 non-null   object
 57  UNBILLED_RENTALS                          4133 non-null   float64
 58  ORIGINAL_RV                               11437 non-null  int64
 59  FORECLOSE_CLOSE_FLAG                      11437 non-null  object
 60  NOTICEID                                  0 non-null      float64
 61  NET_TAX_PENALTY                           7304 non-null   float64
 62  NET_TAX_CURRLPI                           7304 non-null   float64
 63  NET_TAX_CURRLPI_WAIVEOFF                  7304 non-null   float64
 64  NET_TAX_OVERDUE                           7304 non-null   float64
 65  ORG_SCHEMEID                              83 non-null     float64
 66  ORG_SCHEME_DESC                           83 non-null     object
 67  SECURITSATION_BANK                        83 non-null     object
 68  CUSTOMERNAME                              11437 non-null  object
dtypes: float64(35), int64(16), object(18)
memory usage: 6.0+ MB

In [48]:
select_TR=Termination_Report.iloc[: ,[0,1,2,3,4,44,45,68]]
select_TR

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,BALANCE_PRIN_WAIVE_OFF,INSTALLMENT_PRIN_WAIVE_OFF,CUSTOMERNAME
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,0.0,0.0,SURAJ KUMAR UPADHYAY
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,0.0,0.0,Shibu Pada Nath
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,0.0,0.0,Ruprao Bhaskar Banote
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,0.0,0.0,Sunil Mohanrao Mugale
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,0.0,0.0,RITESH OMPRAKASH BHATIYA
...,...,...,...,...,...,...,...,...
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,0.0,0.0,Bivash Rudra Pal
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,69982.0,63100.0,USHA KUMARI
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,0.0,0.0,Shubham Kumar
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,0.0,0.0,ABHISHEK GUPTA
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,0.0,0.0,Deepak Singh

In [49]:
select_TR['TOTAL']=select_TR['INSTALLMENT_PRIN_WAIVE_OFF'] + select_TR['BALANCE_PRIN_WAIVE_OFF']

In [50]:
select_TR

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,BALANCE_PRIN_WAIVE_OFF,INSTALLMENT_PRIN_WAIVE_OFF,CUSTOMERNAME,TOTAL
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,0.0,0.0,SURAJ KUMAR UPADHYAY,0.0
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,0.0,0.0,Shibu Pada Nath,0.0
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,0.0,0.0,Ruprao Bhaskar Banote,0.0
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,0.0,0.0,Sunil Mohanrao Mugale,0.0
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,0.0,0.0,RITESH OMPRAKASH BHATIYA,0.0
...,...,...,...,...,...,...,...,...,...
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,0.0,0.0,Bivash Rudra Pal,0.0
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,69982.0,63100.0,USHA KUMARI,133082.0
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,0.0,0.0,Shubham Kumar,0.0
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,0.0,0.0,ABHISHEK GUPTA,0.0
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,0.0,0.0,Deepak Singh,0.0

In [51]:
select_TR['TOTAL']=(select_TR['TOTAL']/100000).round(2)

In [52]:
select_TR_1=select_TR.drop(columns=['BALANCE_PRIN_WAIVE_OFF','INSTALLMENT_PRIN_WAIVE_OFF'])
select_TR_1

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,SURAJ KUMAR UPADHYAY,0.00
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,Shibu Pada Nath,0.00
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,Ruprao Bhaskar Banote,0.00
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,Sunil Mohanrao Mugale,0.00
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,RITESH OMPRAKASH BHATIYA,0.00
...,...,...,...,...,...,...,...
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,Bivash Rudra Pal,0.00
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,Shubham Kumar,0.00
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,ABHISHEK GUPTA,0.00
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,Deepak Singh,0.00

In [53]:
filter=select_TR_1[(select_TR_1['TOTAL'] == 0)]

In [54]:
filter

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,SURAJ KUMAR UPADHYAY,0.0
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,Shibu Pada Nath,0.0
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,Ruprao Bhaskar Banote,0.0
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,Sunil Mohanrao Mugale,0.0
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,RITESH OMPRAKASH BHATIYA,0.0
...,...,...,...,...,...,...,...
11431,98399740,XVFPPGN00004805907,TWO WHEELER SCHEME,PATHLGAON VF,REGULAR,KAMTA PRASAD KURREY,0.0
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,Bivash Rudra Pal,0.0
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,Shubham Kumar,0.0
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,ABHISHEK GUPTA,0.0
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,Deepak Singh,0.0

In [55]:
filter1=filter[(filter['NPA_STAGEID'].isin(['REGULAR','WRITEOFF']))]

In [56]:
filter1

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL
0,90744226,X0CERPV00001881497,CE NEW,RAIPUR VF,REGULAR,SURAJ KUMAR UPADHYAY,0.0
1,92794324,XVFPDHN00002843024,PRIME MINI LCV NEW,DHARMANAGAR VF,REGULAR,Shibu Pada Nath,0.0
2,92745285,XTRAAVT00002843165,TRACTOR NEW,AMRAVATI VF,REGULAR,Ruprao Bhaskar Banote,0.0
3,92798204,XTRALTR00002844476,TRACTOR NEW,NILANGA VF,REGULAR,Sunil Mohanrao Mugale,0.0
4,92769470,XVFPPEV00002844797,PRIME LCV NEW,PUNE VF,REGULAR,RITESH OMPRAKASH BHATIYA,0.0
...,...,...,...,...,...,...,...
11431,98399740,XVFPPGN00004805907,TWO WHEELER SCHEME,PATHLGAON VF,REGULAR,KAMTA PRASAD KURREY,0.0
11432,98387390,XVFPAGA00004806391,TWO WHEELER SCHEME,AGARTALA VF,REGULAR,Bivash Rudra Pal,0.0
11434,98420902,XVFPCTR00004807370,TWO WHEELER SCHEME,CHATRA VF,REGULAR,Shubham Kumar,0.0
11435,98407646,XVFPBNF00004807641,PRIME MUV USED,BINA VF,REGULAR,ABHISHEK GUPTA,0.0
11436,98419613,XVFPNNA00004808089,TWO WHEELER SCHEME,PANNA VF,REGULAR,Deepak Singh,0.0

In [57]:
filter_df=select_TR_1[~select_TR_1.isin(filter1.to_dict('list')).all(axis=1)]

In [58]:
filter_df

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL
6,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35
13,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05
17,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82
24,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23
48,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88
...,...,...,...,...,...,...,...
11236,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26
11291,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10
11378,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64
11381,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33

In [59]:
filter2=filter_df[~(filter_df['NPA_STAGEID']=='WRITEOFF')]

In [60]:
filter2

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL
6,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35
13,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05
17,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82
24,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23
48,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88
...,...,...,...,...,...,...,...
11236,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26
11291,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10
11378,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64
11381,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52
11433,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33

In [61]:
#branch=pd.read_excel("Branch List - Apr'24 Revised.xlsb",sheet_name='Sheet1')
branch

,BRANCH,FINAL BRANCH,ZONE,STATE HEAD,REGION,AREA,BRANCH.1,STATE NAME,Branch ID,Branch Type
0,ABHANPUR,ABHANPUR VF,EAST,CHATTISGARH,CHATTISGARH 1,RAJIM,ABHANPUR,CHATTISGARH,6393,Phase VI
1,AGARTALA,AGARTALA VF,EAST,NORTH EAST,NORTH EAST 3,AGARTALA,AGARTALA,TRIPURA,732,Phase III
2,AIZWAL,AIZAWL VF,EAST,NORTH EAST,NORTH EAST 3,SILCHAR,AIZWAL,MIZORAM,6334,Phase VI
3,ALIPURDUAR,ALIPURDUAR VF,EAST,WESTBENGAL,WEST BENGAL 3,COOCHBEHAR,ALIPURDUAR,WESTBENGAL,6456,Phase VI
4,AMBAGARH CHOWKI,AMBAGARH CHOWKI VF,EAST,CHATTISGARH,CHATTISGARH 3,RAJNANDGOAN,AMBAGARH CHOWKI,CHATTISGARH,6726,Phase VII
...,...,...,...,...,...,...,...,...,...,...
1966,TIRUVERKADU,TIRUVERKADU VF,SOUTH,TAMIL NADU,TN_1,AMBATTUR,TIRUVERKADU,TAMIL NADU,7835,Phase X
1967,KURESONG,KURESONG VF,EAST,WESTBENGAL,WEST BENGAL 3,DARJEELING,KURESONG,WESTBENGAL,7832,Phase X
1968,GANDERBAL,GANDERBAL VF,NORTH,"PUNJAB,HPC & J&K",J&K & CHANDIGARH,SRINAGAR,GANDERBAL,JAMMU&KASHMIR,7837,Phase X
1969,MEJA,MEJA VF,NORTH,UTTARPRADESH,UTTARPRADESH 3,ALLAHABAD,MEJA,UTTARPRADESH,7831,RL Branch
1970,LAHAR,LAHAR VF,WEST,MADHYAPRADESH,MP 4,GWALIOR,LAHAR,MADHYAPRADESH,7836,RL Branch

In [62]:
look_br=filter2.merge(branch[['FINAL BRANCH','ZONE','STATE HEAD','REGION','AREA','BRANCH']],left_on='BRANCHDESC',right_on='FINAL BRANCH',how='left')
look_br

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,FINAL BRANCH,ZONE,STATE HEAD,REGION,AREA,BRANCH
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,GOPALGANJ VF,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,MAYILADUTHURAI VF,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,AHMEDNAGAR VF,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,HARIDWAR VF,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,AJMER VF,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER
...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,GURGAON VF,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,KATWA VF,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,BONGAON VF,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,CHANDRAKONA ROAD VF,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,ISLAMPUR BIHAR VF,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR

In [63]:
look_br1=look_br.drop(columns=['FINAL BRANCH'])
look_br1

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER
...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR

In [64]:
#product=pd.read_excel("Product NCL.xlsb",sheet_name='Sheet1')
product

,SCHEMEDESC,ddd,Product,Product Grp,Sub Product,Unnamed: 5,Unnamed: 6
0,PRIME MUV USED,XVFP,PRIME,PV,"CV,PV & CE",NaN,PRIME
1,PRIME LCV USED,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
2,CAR USED,XSHU,SHUBH,PV,"CV,PV & CE",NaN,SHUBH
3,TWO WHEELER SCHEME,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
4,PRIME CAR USED,XVFP,PRIME,PV,"CV,PV & CE",NaN,PRIME
5,MUV USED,XSHU,SHUBH,PV,"CV,PV & CE",NaN,SHUBH
6,PRIME LCV NEW,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
7,PRIME HCV USED,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
8,PRIME CAR NEW,XVFP,PRIME,PV,"CV,PV & CE",NaN,PRIME
9,PRIME MUV NEW,XVFP,PRIME,PV,"CV,PV & CE",NaN,PRIME
10,PRIME MINI LCV NEW,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
11,TRACTOR NEW,XTRA,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",NaN,TRACTOR
12,PRIME HCV NEW,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
13,LCV USED,XSHU,SHUBH,CV,"CV,PV & CE",NaN,SHUBH
14,TRACTOR USED,XTRA,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",NaN,TRACTOR
15,HCV USED,XSHU,SHUBH,CV,"CV,PV & CE",NaN,SHUBH
16,MINI LCV USED,XSHU,SHUBH,CV,"CV,PV & CE",NaN,SHUBH
17,PRIME 3WHEELER NEW,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
18,PRIME 3W PASSANGER NEW,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
19,CE NEW,X0CE,CE,CE,"CV,PV & CE",NaN,CE
20,PRIME MINI LCV USED,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
21,CE USED,X0CE,CE,CE,"CV,PV & CE",NaN,CE
22,AUTOMATE VF PRIME,DHLN,PRIME,CV,"CV,PV & CE",NaN,PRIME
23,AUTOMATE VF SHUBH,RVLN,SHUBH,CV,"CV,PV & CE",NaN,SHUBH
24,AUTOMATE VF PRIME,KQLN,PRIME,CV,"CV,PV & CE",NaN,PRIME
25,AUTOMATE VF PRIME,HYLN,PRIME,CV,"CV,PV & CE",NaN,PRIME
26,PRIME 3WHEELER USED,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
27,AUTOMATE VF PRIME,NKLN,PRIME,CV,"CV,PV & CE",NaN,PRIME
28,3WHEELER USED,XSHU,SHUBH,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,SHUBH
29,SECURITIZATION FOR VF,XVFP,PRIME,CV,"CV,PV & CE",NaN,PRIME
30,GECL,XVFP,PRIME,GECL,"CV,PV & CE",NaN,PRIME
31,3WHEELER EV NEW,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
32,2WHEELER EV NEW,XVFP,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",NaN,PRIME
33,TROLLEY NEW,XTRA,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",NaN,TRACTOR

In [65]:
look_product=look_br1.merge(product[['SCHEMEDESC','Product','Product Grp','Sub Product']],on='SCHEMEDESC',how='left')
look_product

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR"
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR"
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR"
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE"
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE"
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR"
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE"
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE"
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE"

In [66]:
#old_file=pd.read_excel("Loss and bad debts as on 10-Apr-24.xlsb",sheet_name='Termination Report')
old_file

,ZONE,STATE,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,BKT GRP
0,EAST,NORTH EAST,NORTH EAST 2,DIBRUGARH,DIBRUGARH,PRIME,CV,"CV,PV & CE",91728308,XVFPDIB00002418159,PRIME MINI LCV NEW,DIBRUGARH VF,SALE,DIPALI BORUAH HANDIQUE,0.998219,15-16
1,NORTH,UTTARPRADESH,UTTARPRADESH 2,MATHURA,HATHRAS,PRIME,CV,"CV,PV & CE",91698467,XVFPHAT00002400521,PRIME HCV NEW,HATHRAS VF,REGULAR,CHAUDARY HARVEER singh,11.663880,17-18
2,NORTH,UTTARPRADESH,UTTARPRADESH 1,BASTI,SIDDHARTHNAGAR,CE,CE,"CV,PV & CE",91771567,X0CEDDV00002415370,CE NEW,SIDDHARTHNAGAR VF,REGULAR,AJAY KUMAR SINGH,4.262990,28-29
3,WEST,MADHYAPRADESH,MP 4,GUNA,GUNA,SHUBH,PV,"CV,PV & CE",97303978,XSHUGNV00004467167,MUV USED,GUNA VF,REGULAR,Mohan Chandel,0.389420,0-1
4,EAST,BIHAR,BIHAR 5,GAYA,GAYA,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",95236159,XTRAGAY00003731169,TRACTOR NEW,GAYA VF,REGULAR,GANESH YADAV,0.190100,13-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,WEST,MADHYAPRADESH,MP 4,GWALIOR,DABRA,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",97681527,XTRADAB00004581921,TRACTOR USED,DABRA VF,REGULAR,Chetaram Nathuram,1.587810,10-11
495,NORTH,DELHI & HARYANA,HARYANA 1,AMBALA,AMBALA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",8610560,XVFPABL00006310509,TWO WHEELER SCHEME,AMBALA VF,SALE,Pintu O,0.104090,2-3
496,EAST,WESTBENGAL,WEST BENGAL 2,KRISHNANAGAR,KARIMPUR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",6457501,XVFPKMP00005645482,TWO WHEELER SCHEME,KARIMPUR VF,SALE,KAMIRUL SEKH,0.246430,3-4
497,WEST,GUJARAT,GUJARAT 1,MEHSANA,MEHSANA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",6470092,XVFPMSA00005648182,TWO WHEELER SCHEME,MEHSANA VF,SALE,RAJUJI VIRAMJI THAKOR,0.528500,4-5
498,EAST,BIHAR,BIHAR 4,PURNEA,PURNEA,PRIME,PV,"CV,PV & CE",6474058,XVFPPNE00005650854,PRIME MUV NEW,PURNEA VF,SALE,Barun Kumar Malakar,2.882380,3-4

In [67]:
look_old=look_product.merge(old_file[['AGREEMENTNO','BKT GRP']],on='AGREEMENTNO',how='left')
look_old

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,BKT GRP
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",12-13
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",16-17
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",37+
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE",5-6
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE",34-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE",3-4
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",13-14
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE",NaN
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE",4-5
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE",9-10

In [68]:
#rollrate=pd.read_csv("ROLLRATE_DUMP.csv")
rollrate

                AGREEMENTNO  Allocation DPD Allocation Month GRP
0        XVFPRSD00003992791               0                    0
1        XVFPAHR00005705351               0                    0
2        XVFPKGE00005430876               0                    0
3        XVFPMHD00005350606               0                    0
4        XVFPHYF00004718745               0                    0
...                     ...             ...                  ...
2531222  XTRARMG00006090478               0                    0
2531223  XTRABWI00005555355               0                    0
2531224  XTRASUM00005503223              57                  1-2
2531225  XTRAMAJ00003811602               0                    0
2531226  XTRANLR00004363738               0                    0

[2531227 rows x 3 columns]

In [69]:
look_new=look_old.merge(rollrate[['AGREEMENTNO','Allocation Month GRP']],on='AGREEMENTNO',how='left')
look_new

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,BKT GRP,Allocation Month GRP
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",12-13,12-13
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",16-17,16-17
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",37+,37+
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE",5-6,5-6
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE",34-35,34-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE",3-4,3-4
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",13-14,13-14
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE",NaN,14-15
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE",4-5,4-5
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE",9-10,9-10

In [70]:
look_new['BKT GRP']=look_new['BKT GRP'].combine_first(look_new['Allocation Month GRP'])
look_new

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,BKT GRP,Allocation Month GRP
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",12-13,12-13
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",16-17,16-17
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",37+,37+
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE",5-6,5-6
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE",34-35,34-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE",3-4,3-4
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",13-14,13-14
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE",14-15,14-15
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE",4-5,4-5
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE",9-10,9-10

In [71]:
look_new1=look_new.drop(columns=['Allocation Month GRP'])
look_new1

,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,BKT GRP
0,92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",12-13
1,92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",16-17
2,92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",37+
3,92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE",5-6
4,90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE",34-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE",3-4
576,99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",13-14
577,96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE",14-15
578,96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE",4-5
579,98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE",9-10

In [72]:
look_new2=look_new1.rename(columns={'STATE HEAD':'STATE'})

In [73]:
look_new2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGREEMENTID   580 non-null    int64
 1   AGREEMENTNO   580 non-null    object
 2   SCHEMEDESC    580 non-null    object
 3   BRANCHDESC    580 non-null    object
 4   NPA_STAGEID   580 non-null    object
 5   CUSTOMERNAME  580 non-null    object
 6   TOTAL         580 non-null    float64
 7   ZONE          580 non-null    object
 8   STATE         580 non-null    object
 9   REGION        580 non-null    object
 10  AREA          580 non-null    object
 11  BRANCH        580 non-null    object
 12  Product       580 non-null    object
 13  Product Grp   580 non-null    object
 14  Sub Product   580 non-null    object
 15  BKT GRP       580 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 72.6+ KB

In [74]:
update=look_new1.iloc[: ,[7,8,9,10,11,12,13,14,0,1,2,3,4,5,6,15]]
update

,ZONE,STATE HEAD,REGION,AREA,BRANCH,Product,Product Grp,Sub Product,AGREEMENTID,AGREEMENTNO,SCHEMEDESC,BRANCHDESC,NPA_STAGEID,CUSTOMERNAME,TOTAL,BKT GRP
0,EAST,BIHAR,BIHAR 2,CHHAPRA,GOPALGANJ,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",92764352,XTRAGOP00002846034,TRACTOR NEW,GOPALGANJ VF,REGULAR,BABAR ALI,0.35,12-13
1,SOUTH,TAMIL NADU,TN_4,KUMBAKONAM,MAYILADUTHURAI,TRACTOR,TRACTOR,"TRACTOR,TW & 3WHLR",92845816,XTRAMAY00002867878,TRACTOR NEW,MAYILADUTHURAI VF,REGULAR,PUGAZHENTHI T,0.05,16-17
2,WEST,MAHARASHTRA STATE 1,MH5,AHMEDNAGAR,AHMEDNAGAR,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",92864916,XVFPADN00002871280,TWO WHEELER SCHEME,AHMEDNAGAR VF,REGULAR,Nitin Maruti Shinde,0.82,37+
3,NORTH,UTTARAKHAND,UTTARAKHAND 1,HARIDWAR,HARIDWAR,PRIME,CV,"CV,PV & CE",92834216,XVFPHDR00002872731,PRIME LCV NEW,HARIDWAR VF,REGULAR,AHASAN A,1.23,5-6
4,NORTH,RAJASTHAN,RAJASTHAN 2,AJMER,AJMER,PRIME,CV,"CV,PV & CE",90860750,XVFPAJM00001959232,PRIME LCV NEW,AJMER VF,REGULAR,Defence education public school samiti,1.88,34-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,NORTH,DELHI & HARYANA,DELHI 1,GURGAON,GURGAON,CE,CE,"CV,PV & CE",94820565,X0CEGGN00003623742,CE NEW,GURGAON VF,REGULAR,SURJEET H,2.26,3-4
576,EAST,WESTBENGAL,WEST BENGAL 4,BHURDWAN,KATWA,PRIME,TW & 3WHLR,"TRACTOR,TW & 3WHLR",99215046,XVFPKWA00005050678,TWO WHEELER SCHEME,KATWA VF,REGULAR,ACHINTA MAJUMDAR,0.10,13-14
577,EAST,WESTBENGAL,WEST BENGAL 2,BARASAT,BONGAON,PRIME,PV,"CV,PV & CE",96784165,XVFPBNG00004293674,PRIME CAR USED,BONGAON VF,SALE,TANAY DAS,2.64,14-15
578,EAST,WESTBENGAL,WEST BENGAL 5,KHARAGPUR,CHANDRAKONA ROAD,PRIME,CV,"CV,PV & CE",96816198,XVFPCKO00004294288,PRIME HCV NEW,CHANDRAKONA ROAD VF,REGULAR,GOUTAM KOURI,0.52,4-5
579,EAST,BIHAR,BIHAR 1,BIHAR SHARIF,ISLAMPUR BIHAR,SHUBH,PV,"CV,PV & CE",98359660,XSHUISL00004806991,MUV USED,ISLAMPUR BIHAR VF,SALE,USHA KUMARI,1.33,9-10

In [75]:
update['BKT GRP']="'"+ update['BKT GRP'].astype(str)

In [76]:
update.to_csv('Loss on Sale.csv',index=False)