In [2]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Stock Main File
stock_report=pd.read_excel(r"D:\Stock working file\Stock Report - MAR-2024 MAIN.xlsb",sheet_name='Dump')
#Gallop File
repo=pd.read_csv(r"D:\Stock working file\REPO TERMINATION TRACKER  GALLOP 29 MAR-2024.csv",encoding='unicode_escape')
#Deliquency Base file
deli_base=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base')
#Deliquency CE & TW & Tractor File
deli_cetw=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='CE & TW & Tractor')
#Deliquency Base 1 File
deli_base1=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base 1')
#Deliquency Base 2 File
deli_base2=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base 2')
#Charles Deliquency Tra File
char_deli1=pd.read_excel(r'D:\Stock working file\Deli 28-3-24.xlsb',sheet_name='Tra')
#Charles Deliquency VF 1 File
char_deli2=pd.read_excel(r'D:\Stock working file\Deli 28-3-24.xlsb',sheet_name='VF 1')
#Charles Deliquency VF 2 File
char_deli3=pd.read_excel(r'D:\Stock working file\Deli 28-3-24.xlsb',sheet_name='VF 2')
#Charles Deliquency VF 3 File
char_deli4=pd.read_excel(r'D:\Stock working file\Deli 28-3-24.xlsb',sheet_name='VF 3')
#Branchlist
branchlist=pd.read_excel(r"C:\Users\natrajsekarvs\Downloads\Branch List.xlsb")
#PD Dump VF File
pd1=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='VF')
#PD Dump Tractor & TW & CE File
pd2=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='Tractor & TW & CE')
#PD Dump Base 1 File
pd3=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='Base 1')
#PD Dump Base 2 File
pd4=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='base 2')
#Rollrate Sheet1 File
rollrate1=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet1')
#Rollrate Sheet2 File
rollrate2=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet2')
#Rollrate Sheet3 File
rollrate3=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet3')
#Release Tracker File
#release_tracker=pd.read_excel(r'D:\Stock working file\FORMAT RELEASE TRACKER.xlsb',sheet_name='27 MAR 2024')
#Column Index Model File
df=pd.read_excel(r"C:\Users\natrajsekarvs\Downloads\Book4.xlsx")
#Parking yard id map file
park=pd.read_excel(r'D:\Stock working file\Parking yard_Gallop_master.xlsx')
#Seizure agent id map file
seizure=pd.read_excel(r'D:\Stock working file\Repo agent_Gallop_master.xlsx')

In [4]:
#stock_report=pd.read_excel(r"D:\Stock working file\Stock Report - MAR-2024 MAIN.xlsb",sheet_name='Dump')
stock_report

,S.NO,Stock Status,Seizure type,Terminated,Pending Details,Sale Type,Final Status,Zone,Region,Area,...,Daily delete,Catega,CAU - Corporate legal Manivannan,legal work,Old Agreement no 1,Old Agreement no 2,Old agreement no 3,Topup sale price,15th Dec 2023 sale report published case,Not Paid regions
0,1,Opening,SEIZURE,Terminated,NaN,NaN,Stock,WEST,MH1,BKC MUMBAI,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,MH1
1,2,Opening,SEIZURE,Terminated,NaN,NaN,Stock,SOUTH,KARNATAKA 1,BANGALORE,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a
2,3,Opening,SURRENDER,Terminated,NaN,NaN,Stock,SOUTH,TN_1,CHENGALPET,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,TN_1
3,4,Opening,SEC 9,Terminated,NaN,NaN,Stock,WEST,GUJARAT 3,RAJKOT,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,GUJARAT 3
4,5,Opening,SEIZURE,Terminated,NaN,NaN,Stock,EAST,ORISSA 1,BHUBANESHWAR,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,ORISSA 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,8370,Curr Month Repo,Stop and Release,Terminated,NaN,NaN,Stock,EAST,JHARKHAND 1,DALTONGANJ,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,CHATTISGARH 1
8370,8371,Curr Month Repo,SEIZURE,Terminated,NaN,NaN,Stock,EAST,BIHAR 4,PURNEA,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,CHATTISGARH 1
8371,8372,Curr Month Repo,SEIZURE,Terminated,NaN,NaN,Stock,NORTH,UTTARPRADESH 3,JAUNPUR,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,CHATTISGARH 1
8372,8373,Curr Month Repo,SEIZURE,Terminated,NaN,NaN,Stock,EAST,ORISSA 3,BALASORE,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,CHATTISGARH 1
8373,8374,Curr Month Repo,SEIZURE,Terminated,NaN,NaN,Stock,EAST,ORISSA 2,SUNDERGARH,...,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,0x2a,CHATTISGARH 1

In [5]:
#repo=pd.read_csv(r"D:\Stock working file\REPO TERMINATION TRACKER 13 MAR 2024 GALLOP.csv",encoding='unicode_escape')
repo

,Agreement,Repossession: Repossesion No.,Zone,Region,Area,Branch,Customer Name,Registration Number,Engine Number,Chassis Number,...,Is Surrender letter available,Repo Agent Name,Parking Yard Employee Name,Resolution Date,Parking Yard Vendor (Empaneled),Parking Yard Vendor (Non Empaneled),Repo Agent Vendor (Empaneled),Chola Employee,NPA Stage,Repo Status
0,XVFPMUZ00002888487,REPO146026,East,Bihar3,Muzaffarpur,Muzaffarpur VF,Amit Kumar,BR06GD8007,ISB59B4S230T191C63774331,MAT541170K1C06394,...,NaN,Aman Kishor Dubey,Kumar Yard Services - PYAHAJ647,01/03/2024,Kumar Yard Services - PYAHAJ647,NaN,Aman Repo Agency-SEZCHH1564,NaN,REGULAR,Completed
1,XVFPSHR00006147374,REPO146027,North,Rajasthan1,Shahpura,Shahpura VF,Mahaveer Meena,RJ32GB9516,TBH1L37851,MA1ZN2TBKH1L86514,...,NaN,Vinod Kumar Dhabas,Yati Parking yard - PYAJAI350,31/03/2024,Yati Parking yard - PYAJAI350,NaN,CHOUDHARY CONSULTANCY-SEZSHA1972,NaN,SALE,Completed
2,XSHUHAJ00004460661,REPO146028,East,Bihar2,Hajipur,Hajipur VF,ABHISHEK RANJAN,BR11H9138,GMC4E55212,MA1TA2GMKC2F54950,...,NaN,.,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,20/03/2024,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,NaN,Arya Repo Agency-SEZMUZ1407,NaN,REGULAR,Completed
3,XVFPBDU00004406886,REPO146032,North,Uttrakhand2,Bareilly,Badaun VF,VIVEK KUMAR SINGH,UP24AV2971,K10BN8586018,MA3JMT31SMK567182,...,NaN,SURENDER KUMAR AND ANIL,BADAUN PARKING YARD-MPY-BAR-303,05/03/2024,BADAUN PARKING YARD-MPY-BAR-303,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REGULAR,Completed
4,XVFPBEI00004497403,REPO146036,East,Bihar2,Bettiah,Bettiah VF,sunil kumar,BR22GB8495,TNM1K83419,MA1ZU2TNKM1K71022,...,NaN,RAVI RANJAN KUMAR,Maa Vaishnow Iron - PYAMOT586,20/03/2024,Maa Vaishnow Iron - PYAMOT586,NaN,Om Sai Repossession Agency-SEZBIH1867,NaN,REPO,Submitted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,XVFPABL00005449643,REPO162574,North,Haryana,Ambala,Ambala VF,Amit G,HR85D5110,K12MN7602254,MA3EWB22SLM693211,...,NaN,SURENDER KUMAR AND ANIL,Shree Balaji Motor Yard Company PYACHA950,31/03/2024,Shree Balaji Motor Yard Company PYACHA950,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REPO,Submitted
3942,XVFPGMI00006068662,REPO162575,North,Rajasthan3,Sri Ganganagar,Gharsana Mandi VF,RAHUL K,RJ13NS7168,JF16EVPGG00136,MBLJFN240PGG00442,...,NaN,Chola Inhouse,Luhaniwal Industries Parking Yard - PYASRI431,31/03/2024,Luhaniwal Industries Parking Yard - PYASRI431,NaN,Chola Inhouse,NaN,REPO,Submitted
3943,XVFPKRK00006354774,REPO162576,East,Bihar4,Purnea,Katihar VF,Ravindra Gupta,BR11PC8965,AF4NP4600872,MD6M14LF5P4N00267,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,17/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted
3944,XVFPKRK00005743646,REPO162577,East,Bihar4,Purnea,Katihar VF,Mohamma Nausad,BR39AN6883,HC15EG1001771,ME4HC152EPG001474,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,12/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted
3945,XVFPKRK00005633836,REPO162578,East,Bihar4,Purnea,Katihar VF,mausam kumar,BR39AN2846,PDXCPL84089,MD2B54DX1PCL72619,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,10/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted

In [6]:
repo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 44 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Agreement                                 3946 non-null   object
 1   Repossession: Repossesion No.             3946 non-null   object
 2   Zone                                      3946 non-null   object
 3   Region                                    3946 non-null   object
 4   Area                                      3946 non-null   object
 5   Branch                                    3946 non-null   object
 6   Customer Name                             3946 non-null   object
 7   Registration Number                       3940 non-null   object
 8   Engine Number                             3946 non-null   object
 9   Chassis Number                            3946 non-null   object
 10  Parking Yard Employee                     3660 non-null   object
 11  Seizure Date                              3946 non-null   object
 12  Yard Manager Mobile Number                3743 non-null   float64
 13  Parking Date and Time                     3946 non-null   object
 14  Seizure Charges                           3174 non-null   float64
 15  Seizure Charge Approval Status            3946 non-null   object
 16  Repossession: Created Date                3946 non-null   object
 17  Re-possession type                        3946 non-null   object
 18  Yard Agent Type                           3946 non-null   object
 19  Repo Agent Employee                       3158 non-null   object
 20  Repo Agent Mobile Number                  3253 non-null   float64
 21  Remarks for Repo Agent Non Empanelment    0 non-null      float64
 22  Repossession: Created By                  3946 non-null   object
 23  Action Plan                               3946 non-null   object
 24  Pre-Seizure Letter Despatch Date          3946 non-null   object
 25  Pre-Seizure Reminder Letter Despatch Dat  0 non-null      float64
 26  Vehicle Condition                         3946 non-null   object
 27  Is KYC available                          966 non-null    object
 28  Is RC Available                           3946 non-null   object
 29  DPD (from LMS)                            0 non-null      float64
 30  Allocation DPD                            0 non-null      float64
 31  Seizure Remarks                           3839 non-null   object
 32  Reason for Repo                           3946 non-null   object
 33  Seizure Agent Used                        3871 non-null   object
 34  Is Surrender letter available             141 non-null    object
 35  Repo Agent Name                           3352 non-null   object
 36  Parking Yard Employee Name                3899 non-null   object
 37  Resolution Date                           3946 non-null   object
 38  Parking Yard Vendor (Empaneled)           3660 non-null   object
 39  Parking Yard Vendor (Non Empaneled)       260 non-null    object
 40  Repo Agent Vendor (Empaneled)             3158 non-null   object
 41  Chola Employee                            200 non-null    object
 42  NPA Stage                                 3946 non-null   object
 43  Repo Status                               3946 non-null   object
dtypes: float64(7), object(37)
memory usage: 1.3+ MB

In [7]:
repo['Repo Agent Vendor (Empaneled)']=np.where(
    (repo['Repo Agent Vendor (Empaneled)'].isna()) & (~repo['Chola Employee'].isna()),
    repo['Chola Employee'],
    repo['Repo Agent Vendor (Empaneled)']
    
)

In [8]:
repo['Repo Agent Vendor (Empaneled)']=np.where(
    (repo['Repo Agent Vendor (Empaneled)'].isna()),
    repo['Re-possession type'],
    repo['Repo Agent Vendor (Empaneled)']
)

In [9]:
repo['Parking Yard Vendor (Empaneled)']=np.where(
    (repo['Parking Yard Vendor (Empaneled)'].isna()) & (~repo['Parking Yard Vendor (Non Empaneled)'].isna()),
    repo['Parking Yard Vendor (Non Empaneled)'],
    repo['Parking Yard Vendor (Empaneled)']
    
)

In [10]:
repo['Parking Yard Vendor (Empaneled)']=np.where(
    (repo['Parking Yard Vendor (Empaneled)'].isna()),
    repo['Re-possession type'],
    repo['Parking Yard Vendor (Empaneled)']
    
)

In [11]:
duplicate_rows=repo[repo.duplicated(subset='Agreement')]
duplicate_rows

,Agreement,Repossession: Repossesion No.,Zone,Region,Area,Branch,Customer Name,Registration Number,Engine Number,Chassis Number,...,Is Surrender letter available,Repo Agent Name,Parking Yard Employee Name,Resolution Date,Parking Yard Vendor (Empaneled),Parking Yard Vendor (Non Empaneled),Repo Agent Vendor (Empaneled),Chola Employee,NPA Stage,Repo Status
96,XSHUGIR00004077697,REPO146225,East,Jharkhand2,Dhanbad,Giridih VF,SUNIL KUMAR MAHTO,JH01AY0771,GPC4H28525,MA1PL2GPKC5H47373,...,NaN,MD Aamir,Star Parking Yard MD Umar - PYADHA851,30/03/2024,Star Parking Yard MD Umar - PYADHA851,NaN,Fast Repo Agency-SEZDHA1820,NaN,REGULAR,Completed
100,XSHURAY00005285364,REPO146231,East,CG4,Rayagada,Rayagada VF,ADAVALA DAMODAR RAO,OD22A8386,GHD1M13267,MA1ZN2GHKE1A12655,...,NaN,Lenka Gowri Janardha,Laxmi Engineering Works - PYAJEY393,11/03/2024,Laxmi Engineering Works - PYAJEY393,NaN,Lenka Gowri Janardhana Rao RAYAGADA-SEZRAY2190,NaN,REGULAR,Completed
102,XVFPRAY00004713688,REPO146233,East,CG4,Rayagada,Rayagada VF,SRIDHAR KHARA,OD18F0251,E413CDFC025458,MC2B7ERC0FC313118,...,NaN,Lenka Gowri Janardha,Laxmi Engineering Works - PYAJEY393,24/03/2024,Laxmi Engineering Works - PYAJEY393,NaN,Lenka Gowri Janardhana Rao RAYAGADA-SEZRAY2190,NaN,REPO,Submitted
814,XVFPHPR00004628910,REPO147609,North,Punjab,Jalandhar,Hoshiarpur VF,Harmadan Gopal,PB10FA4975,1499706,S00788381,...,NaN,VIKASH KAUSAL,Hoshiarpur Parking Yard - PYAJAL814,21/03/2024,Hoshiarpur Parking Yard - PYAJAL814,NaN,Gestapo Enterprises-SEZJAL722,NaN,REGULAR,Completed

In [12]:
repo1=repo.drop_duplicates(subset='Agreement')
repo1

,Agreement,Repossession: Repossesion No.,Zone,Region,Area,Branch,Customer Name,Registration Number,Engine Number,Chassis Number,...,Is Surrender letter available,Repo Agent Name,Parking Yard Employee Name,Resolution Date,Parking Yard Vendor (Empaneled),Parking Yard Vendor (Non Empaneled),Repo Agent Vendor (Empaneled),Chola Employee,NPA Stage,Repo Status
0,XVFPMUZ00002888487,REPO146026,East,Bihar3,Muzaffarpur,Muzaffarpur VF,Amit Kumar,BR06GD8007,ISB59B4S230T191C63774331,MAT541170K1C06394,...,NaN,Aman Kishor Dubey,Kumar Yard Services - PYAHAJ647,01/03/2024,Kumar Yard Services - PYAHAJ647,NaN,Aman Repo Agency-SEZCHH1564,NaN,REGULAR,Completed
1,XVFPSHR00006147374,REPO146027,North,Rajasthan1,Shahpura,Shahpura VF,Mahaveer Meena,RJ32GB9516,TBH1L37851,MA1ZN2TBKH1L86514,...,NaN,Vinod Kumar Dhabas,Yati Parking yard - PYAJAI350,31/03/2024,Yati Parking yard - PYAJAI350,NaN,CHOUDHARY CONSULTANCY-SEZSHA1972,NaN,SALE,Completed
2,XSHUHAJ00004460661,REPO146028,East,Bihar2,Hajipur,Hajipur VF,ABHISHEK RANJAN,BR11H9138,GMC4E55212,MA1TA2GMKC2F54950,...,NaN,.,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,20/03/2024,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,NaN,Arya Repo Agency-SEZMUZ1407,NaN,REGULAR,Completed
3,XVFPBDU00004406886,REPO146032,North,Uttrakhand2,Bareilly,Badaun VF,VIVEK KUMAR SINGH,UP24AV2971,K10BN8586018,MA3JMT31SMK567182,...,NaN,SURENDER KUMAR AND ANIL,BADAUN PARKING YARD-MPY-BAR-303,05/03/2024,BADAUN PARKING YARD-MPY-BAR-303,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REGULAR,Completed
4,XVFPBEI00004497403,REPO146036,East,Bihar2,Bettiah,Bettiah VF,sunil kumar,BR22GB8495,TNM1K83419,MA1ZU2TNKM1K71022,...,NaN,RAVI RANJAN KUMAR,Maa Vaishnow Iron - PYAMOT586,20/03/2024,Maa Vaishnow Iron - PYAMOT586,NaN,Om Sai Repossession Agency-SEZBIH1867,NaN,REPO,Submitted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,XVFPABL00005449643,REPO162574,North,Haryana,Ambala,Ambala VF,Amit G,HR85D5110,K12MN7602254,MA3EWB22SLM693211,...,NaN,SURENDER KUMAR AND ANIL,Shree Balaji Motor Yard Company PYACHA950,31/03/2024,Shree Balaji Motor Yard Company PYACHA950,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REPO,Submitted
3942,XVFPGMI00006068662,REPO162575,North,Rajasthan3,Sri Ganganagar,Gharsana Mandi VF,RAHUL K,RJ13NS7168,JF16EVPGG00136,MBLJFN240PGG00442,...,NaN,Chola Inhouse,Luhaniwal Industries Parking Yard - PYASRI431,31/03/2024,Luhaniwal Industries Parking Yard - PYASRI431,NaN,Chola Inhouse,NaN,REPO,Submitted
3943,XVFPKRK00006354774,REPO162576,East,Bihar4,Purnea,Katihar VF,Ravindra Gupta,BR11PC8965,AF4NP4600872,MD6M14LF5P4N00267,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,17/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted
3944,XVFPKRK00005743646,REPO162577,East,Bihar4,Purnea,Katihar VF,Mohamma Nausad,BR39AN6883,HC15EG1001771,ME4HC152EPG001474,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,12/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted
3945,XVFPKRK00005633836,REPO162578,East,Bihar4,Purnea,Katihar VF,mausam kumar,BR39AN2846,PDXCPL84089,MD2B54DX1PCL72619,...,NaN,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,10/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted

In [13]:
lookup_ag=pd.merge(repo1,stock_report[['Agreements']],left_on='Agreement',right_on='Agreements',how='left')
lookup_ag

,Agreement,Repossession: Repossesion No.,Zone,Region,Area,Branch,Customer Name,Registration Number,Engine Number,Chassis Number,...,Repo Agent Name,Parking Yard Employee Name,Resolution Date,Parking Yard Vendor (Empaneled),Parking Yard Vendor (Non Empaneled),Repo Agent Vendor (Empaneled),Chola Employee,NPA Stage,Repo Status,Agreements
0,XVFPMUZ00002888487,REPO146026,East,Bihar3,Muzaffarpur,Muzaffarpur VF,Amit Kumar,BR06GD8007,ISB59B4S230T191C63774331,MAT541170K1C06394,...,Aman Kishor Dubey,Kumar Yard Services - PYAHAJ647,01/03/2024,Kumar Yard Services - PYAHAJ647,NaN,Aman Repo Agency-SEZCHH1564,NaN,REGULAR,Completed,XVFPMUZ00002888487
1,XVFPSHR00006147374,REPO146027,North,Rajasthan1,Shahpura,Shahpura VF,Mahaveer Meena,RJ32GB9516,TBH1L37851,MA1ZN2TBKH1L86514,...,Vinod Kumar Dhabas,Yati Parking yard - PYAJAI350,31/03/2024,Yati Parking yard - PYAJAI350,NaN,CHOUDHARY CONSULTANCY-SEZSHA1972,NaN,SALE,Completed,XVFPSHR00006147374
2,XSHUHAJ00004460661,REPO146028,East,Bihar2,Hajipur,Hajipur VF,ABHISHEK RANJAN,BR11H9138,GMC4E55212,MA1TA2GMKC2F54950,...,.,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,20/03/2024,Gaurav Parking Yard (Muzaffarpur) - PYAMUZ538,NaN,Arya Repo Agency-SEZMUZ1407,NaN,REGULAR,Completed,XSHUHAJ00004460661
3,XVFPBDU00004406886,REPO146032,North,Uttrakhand2,Bareilly,Badaun VF,VIVEK KUMAR SINGH,UP24AV2971,K10BN8586018,MA3JMT31SMK567182,...,SURENDER KUMAR AND ANIL,BADAUN PARKING YARD-MPY-BAR-303,05/03/2024,BADAUN PARKING YARD-MPY-BAR-303,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REGULAR,Completed,XVFPBDU00004406886
4,XVFPBEI00004497403,REPO146036,East,Bihar2,Bettiah,Bettiah VF,sunil kumar,BR22GB8495,TNM1K83419,MA1ZU2TNKM1K71022,...,RAVI RANJAN KUMAR,Maa Vaishnow Iron - PYAMOT586,20/03/2024,Maa Vaishnow Iron - PYAMOT586,NaN,Om Sai Repossession Agency-SEZBIH1867,NaN,REPO,Submitted,XVFPBEI00004497403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,XVFPABL00005449643,REPO162574,North,Haryana,Ambala,Ambala VF,Amit G,HR85D5110,K12MN7602254,MA3EWB22SLM693211,...,SURENDER KUMAR AND ANIL,Shree Balaji Motor Yard Company PYACHA950,31/03/2024,Shree Balaji Motor Yard Company PYACHA950,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REPO,Submitted,NaN
3938,XVFPGMI00006068662,REPO162575,North,Rajasthan3,Sri Ganganagar,Gharsana Mandi VF,RAHUL K,RJ13NS7168,JF16EVPGG00136,MBLJFN240PGG00442,...,Chola Inhouse,Luhaniwal Industries Parking Yard - PYASRI431,31/03/2024,Luhaniwal Industries Parking Yard - PYASRI431,NaN,Chola Inhouse,NaN,REPO,Submitted,NaN
3939,XVFPKRK00006354774,REPO162576,East,Bihar4,Purnea,Katihar VF,Ravindra Gupta,BR11PC8965,AF4NP4600872,MD6M14LF5P4N00267,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,17/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN
3940,XVFPKRK00005743646,REPO162577,East,Bihar4,Purnea,Katihar VF,Mohamma Nausad,BR39AN6883,HC15EG1001771,ME4HC152EPG001474,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,12/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN
3941,XVFPKRK00005633836,REPO162578,East,Bihar4,Purnea,Katihar VF,mausam kumar,BR39AN2846,PDXCPL84089,MD2B54DX1PCL72619,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,10/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN

In [14]:
select_na=lookup_ag[lookup_ag['Agreements'].isna()]
select_na

,Agreement,Repossession: Repossesion No.,Zone,Region,Area,Branch,Customer Name,Registration Number,Engine Number,Chassis Number,...,Repo Agent Name,Parking Yard Employee Name,Resolution Date,Parking Yard Vendor (Empaneled),Parking Yard Vendor (Non Empaneled),Repo Agent Vendor (Empaneled),Chola Employee,NPA Stage,Repo Status,Agreements
3877,XVFPPNE00005032853,REPO162332,East,Bihar4,Purnea,Purnea VF,MDO HARUN,BR11PC7492,S1A9147796,MBX0006FFZA082342,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,30/03/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN
3878,XVFPDGR00005956350,REPO162334,North,Rajasthan4,Dungarpur,Dungarpur VF,Jagdish P,RJ12KS0161,G3N4E0506610,ME1RG67M6P0001647,...,Manju Meena,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,11/04/2024,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,NaN,Meena Associates-SEZUDA1158,NaN,REPO,Submitted,NaN
3879,XTRACOO00005294252,REPO162337,East,West Bengal3,Coochbehar,Coochbehar VF,Bharati Modak,WB86F2634,E3674561,T053598526BL,...,NaN,West Bengal,30/03/2024,Mijanur Miah,Mijanur Miah,As is Where Is,NaN,REPO,Submitted,NaN
3880,XVFPPNE00005325826,REPO162338,East,Bihar4,Purnea,Purnea VF,Durga Prasad Baharadar,BR11BC0913,HENY2212484019,MEPHEHPSB11AL8635,...,DEEPAK KUMAR,VASNSH PARKING YARD - PURNEA - PYAPUR1037,30/03/2024,VASNSH PARKING YARD - PURNEA - PYAPUR1037,NaN,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,NaN,REPO,Submitted,NaN
3881,XVFPTGA00006262418,REPO162339,North,Rajasthan1,Alwar,Thanagaji VF,Bhoma Ram Mehara,RJ02QB6144,KC01AEPHG01648,MBLKCU115PHG00901,...,Chola Inhouse,JARSHAD PARKING YARD - PYAJAI166,31/03/2024,JARSHAD PARKING YARD - PYAJAI166,NaN,Chola Inhouse,NaN,REPO,Submitted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,XVFPABL00005449643,REPO162574,North,Haryana,Ambala,Ambala VF,Amit G,HR85D5110,K12MN7602254,MA3EWB22SLM693211,...,SURENDER KUMAR AND ANIL,Shree Balaji Motor Yard Company PYACHA950,31/03/2024,Shree Balaji Motor Yard Company PYACHA950,NaN,Poonia Associates Pvt Ltd - SEZHIS167,NaN,REPO,Submitted,NaN
3938,XVFPGMI00006068662,REPO162575,North,Rajasthan3,Sri Ganganagar,Gharsana Mandi VF,RAHUL K,RJ13NS7168,JF16EVPGG00136,MBLJFN240PGG00442,...,Chola Inhouse,Luhaniwal Industries Parking Yard - PYASRI431,31/03/2024,Luhaniwal Industries Parking Yard - PYASRI431,NaN,Chola Inhouse,NaN,REPO,Submitted,NaN
3939,XVFPKRK00006354774,REPO162576,East,Bihar4,Purnea,Katihar VF,Ravindra Gupta,BR11PC8965,AF4NP4600872,MD6M14LF5P4N00267,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,17/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN
3940,XVFPKRK00005743646,REPO162577,East,Bihar4,Purnea,Katihar VF,Mohamma Nausad,BR39AN6883,HC15EG1001771,ME4HC152EPG001474,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,12/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN
3941,XVFPKRK00005633836,REPO162578,East,Bihar4,Purnea,Katihar VF,mausam kumar,BR39AN2846,PDXCPL84089,MD2B54DX1PCL72619,...,SHREEDHAR MISHRA,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,10/04/2024,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,NaN,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,NaN,REPO,Submitted,NaN

In [15]:
select_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 3877 to 3941
Data columns (total 45 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Agreement                                 65 non-null     object
 1   Repossession: Repossesion No.             65 non-null     object
 2   Zone                                      65 non-null     object
 3   Region                                    65 non-null     object
 4   Area                                      65 non-null     object
 5   Branch                                    65 non-null     object
 6   Customer Name                             65 non-null     object
 7   Registration Number                       65 non-null     object
 8   Engine Number                             65 non-null     object
 9   Chassis Number                            65 non-null     object
 10  Parking Yard Employee                     61 non-null     object
 11  Seizure Date                              65 non-null     object
 12  Yard Manager Mobile Number                63 non-null     float64
 13  Parking Date and Time                     65 non-null     object
 14  Seizure Charges                           43 non-null     float64
 15  Seizure Charge Approval Status            65 non-null     object
 16  Repossession: Created Date                65 non-null     object
 17  Re-possession type                        65 non-null     object
 18  Yard Agent Type                           65 non-null     object
 19  Repo Agent Employee                       48 non-null     object
 20  Repo Agent Mobile Number                  45 non-null     float64
 21  Remarks for Repo Agent Non Empanelment    0 non-null      float64
 22  Repossession: Created By                  65 non-null     object
 23  Action Plan                               65 non-null     object
 24  Pre-Seizure Letter Despatch Date          65 non-null     object
 25  Pre-Seizure Reminder Letter Despatch Dat  0 non-null      float64
 26  Vehicle Condition                         65 non-null     object
 27  Is KYC available                          24 non-null     object
 28  Is RC Available                           65 non-null     object
 29  DPD (from LMS)                            0 non-null      float64
 30  Allocation DPD                            0 non-null      float64
 31  Seizure Remarks                           65 non-null     object
 32  Reason for Repo                           65 non-null     object
 33  Seizure Agent Used                        62 non-null     object
 34  Is Surrender letter available             2 non-null      object
 35  Repo Agent Name                           50 non-null     object
 36  Parking Yard Employee Name                65 non-null     object
 37  Resolution Date                           65 non-null     object
 38  Parking Yard Vendor (Empaneled)           65 non-null     object
 39  Parking Yard Vendor (Non Empaneled)       4 non-null      object
 40  Repo Agent Vendor (Empaneled)             65 non-null     object
 41  Chola Employee                            2 non-null      object
 42  NPA Stage                                 65 non-null     object
 43  Repo Status                               65 non-null     object
 44  Agreements                                0 non-null      object
dtypes: float64(7), object(38)
memory usage: 23.4+ KB

In [16]:
select=select_na.iloc[: ,[0,8,9,11,14,16,17,38,40]]
select

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled)
3877,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511
3878,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158
3879,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is
3880,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397
3881,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse
...,...,...,...,...,...,...,...,...,...
3937,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167
3938,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse
3939,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511
3940,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511
3941,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511

In [123]:
#select.to_csv('D:\\Stock working file\\stockfile.csv',index=False)

In [17]:
#deli_base=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base')
deli_base

,Agmt No,Zone,Region,Area,Branch,Prime/Shubh,Unnamed: 6,Customer ID,Customer Name,Agmt Date,...,POS,OD,Manufacture Year,Reg no,NPA_STAGE_ID,Unnamed: 25,AGREEMENTNO,POS.1,OD.1,OD_PLUS_POS
0,XVFPRAA00005354202,EAST,JHARKHAND 2,DHANBAD,RAJDHANWAR,PRIME,NaN,-,Surendra Kumar Vishwakarma,44954,...,14635.0,0.0,2023.0,JH-11-AL-4678,REGULAR,NaN,NaN,NaN,NaN,NaN
1,XVFPCHU00006371782,NORTH,RAJASTHAN 3,CHURU,CHURU,PRIME,NaN,-,MOSOYAL M,45307,...,191036.0,0.0,2024.0,RJ-18-RS-9283,REGULAR,NaN,NaN,NaN,NaN,NaN
2,XVFPBMI00006240898,NORTH,RAJASTHAN 4,JHALAWAR,BHAWANI MANDI,PRIME,NaN,-,SHIVRAJ SINGH,45259,...,57780.0,3200.0,2023.0,RJ-17-ES-0557,REGULAR,NaN,NaN,NaN,NaN,NaN
3,XVFPBKR00005187788,NORTH,RAJASTHAN 3,BIKANER,BIKANER,PRIME,NaN,-,HEERA R,44886,...,62085.0,8715.0,2022.0,RJ-07-NS-5564,REGULAR,NaN,NaN,NaN,NaN,NaN
4,XVFPHGD00004448567,WEST,MP 2,NARMADAPURAM,NARMADAPURAM,PRIME,NaN,-,Jitesh Ahirwar,44540,...,87107.0,4674.0,2021.0,MP-05-NB-1977,REGULAR,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832719,XVFPRMN00004835605,SOUTH,AP3,RAJAMUNDHRY,RAJAMUNDHRY,PRIME,NaN,-,GEDDAM DANIEL THOMAS,44734,...,131541.0,101337.0,2022.0,AP-39-QE-1777,REGULAR,NaN,NaN,NaN,NaN,NaN
832720,XVFPNAL00004549508,SOUTH,TELANGANA 2,MIRYALAGUDA,NALGONDA,PRIME,NaN,-,LAVUDYI SUNITHA,44596,...,NaN,0.0,2022.0,TS-05-FM-0798,REGULAR,NaN,NaN,NaN,NaN,NaN
832721,XVFPSIW00005559162,EAST,BIHAR 2,CHHAPRA,SIWAN,PRIME,NaN,-,Abhishek Kumar Yadav,45028,...,104229.0,0.0,2023.0,BR-29-AW-9114,REGULAR,NaN,NaN,NaN,NaN,NaN
832722,XVFPPNP00006441351,NORTH,UTTRAKHAND 2,SHAHJAHANPUR,PURANPUR,PRIME,NaN,-,CHATRPAL M,45331,...,67000.0,0.0,2024.0,NaN,REGULAR,NaN,NaN,NaN,NaN,NaN
832723,XVFPRNG00005541261,EAST,CHATTISGARH 1,MAHASAMUND,ARANG,PRIME,NaN,-,Chumman Sonwani,45016,...,28577.0,0.0,2023.0,CG-04-PC-9061,REGULAR,NaN,NaN,NaN,NaN,NaN

In [18]:
#deli_cetw=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='CE & TW & Tractor')
deli_cetw

,Agmt No,Zone,Region,Area,Branch,Prime/Shubh,Unnamed: 6,Customer ID,Customer Name,Agmt Date,...,New/used,Manufacturer,Asset,Make,PRODUCT,POS,OD,Manufacture Year,Reg no,NPA_STAGE_ID
0,XVFPRGH00006092819,EAST,WEST BENGAL 2,KRISHNANAGAR,RANAGHAT,PRIME,NaN,-,MUNMUN HALDER,45218,...,USED,HONDA,MUV,MOBILIO,NaN,136184.0,0.0,2014.0,WB-02-AG-0396,REGULAR
1,XVFPNCF00006162101,SOUTH,TN_3,NAGERCOIL,NAGERCOIL,PRIME,NaN,-,MOSESREAGANPAUL R,45237,...,USED,HYUNDAI,CAR,AURA,NaN,672190.0,0.0,2021.0,TN-74-AZ-0687,REGULAR
2,XVFPCRR00005270763,WEST,MP 4,CHATTARPUR,CHATTARPUR,PRIME,NaN,-,MOHAMMAD MAKBOOL,44921,...,USED,MAHINDRA,MUV,BOLERO,NaN,190368.0,0.0,2011.0,MP16C5686,REGULAR
3,XVFPRKH00006393308,NORTH,UTTRAKHAND 2,HALDWANI,RANIKHET,PRIME,NaN,-,NANDAN SINGH,45315,...,USED,MARUTI SUZUKI,CAR,ALTO 800,NaN,178129.0,0.0,2018.0,UK-12-F-1087,REGULAR
4,XVFPBEM00004371894,EAST,CHATTISGARH 3,BEMETRA,BEMETRA,PRIME,NaN,-,MUKESH DUBEY,44500,...,USED,HYUNDAI,CAR,I20,NaN,247449.0,41656.0,2018.0,CG-04-ME-5554,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528279,XVFPSVF00004400738,NORTH,RAJASTHAN 2,SUMERPUR,SUMERPUR,PRIME,NaN,-,Prabhu Ram,44517,...,NEW,MAHINDRA AND MAHINDRA,CAMPER GOLD ZX,BOLERO,NaN,635149.0,0.0,2021.0,RJ-24-GA-5144,REGULAR
528280,XVFPSVF00006202148,NORTH,RAJASTHAN 2,SUMERPUR,SUMERPUR,PRIME,NaN,-,Roopa Ram,45251,...,NEW,MAHINDRA AND MAHINDRA,PIK-UP FB PS 1.3T,BOLERO,NaN,998752.0,0.0,2023.0,RJ-24-GA-5923,REGULAR
528281,XVFPFZD00005031957,NORTH,UTTARPRADESH 2,AGRA,FIROZABAD,PRIME,NaN,-,Maa pitambara international school,44827,...,NEW,SML ISUZU,LCV,SUPREME SCHOOL BUS,NaN,1307783.0,0.0,2022.0,UP-83-CT-8938,REGULAR
528282,XVFPCHK00005918298,EAST,ORISSA 3,CUTTACK,CHANDIKHOLE,PRIME,NaN,-,TAPAN KUMAR MALIK,45157,...,NEW,MAHINDRA AND MAHINDRA,LCV,BOLERO MAXX PIK UP CITY,NaN,739360.0,0.0,2023.0,OD-04-T-4568,REGULAR
528283,XVFPBER00002427564,EAST,WEST BENGAL 2,BERHAMPORE,BERHAMPORE,PRIME,NaN,-,Sanjib Kumar Saha,43251,...,NEW,TATA MOTORS,LCV,SFC 407,NaN,NaN,0.0,2018.0,WB-57-D-2459,REGULAR

In [19]:
#deli_base1=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base 1')
deli_base1

,Agmt No,Zone,Region,Area,Branch,Prime/Shubh,Unnamed: 6,Customer ID,Customer Name,Agmt Date,...,New/used,Manufacturer,Asset,Make,PRODUCT,POS,OD,Manufacture Year,Reg no,NPA_STAGE_ID
0,XVFPSKR00002472935,NORTH,RAJASTHAN 3,SIKAR,REENGUS,PRIME,NaN,-,Jhabar Mal,43285,...,NEW,HYUNDAI,CAR,EON,NaN,NaN,8631.0,2018.0,RJ-23-TA-3503,REGULAR
1,XVFPVYA00004811465,SOUTH,AP1,VIJAYAWADA,VIJAYAWADA,PRIME,NaN,-,JUPALLI PADMAVATHI,44722,...,NEW,EICHER,HCV,PRO 3019,NaN,2017625.0,60571.0,2022.0,AP-39-UJ-3450,REGULAR
2,XVFPEVF00005775791,SOUTH,TN_2,ERODE,ERODE,PRIME,NaN,-,Muniraj K,45105,...,NEW,ATHER,2WHEELER EV,450X,NaN,154392.0,5241.0,2023.0,TN-33-BX-7880,REGULAR
3,XVFPGTO00005799778,EAST,WEST BENGAL 3,GANGTOK,GANGTOK,PRIME,NaN,-,Khagen Pradhan,45113,...,NEW,MARUTI SUZUKI,K10C VXI+ PETROL,ALTO,NaN,337462.0,0.0,2023.0,SK-08-P-4877,REGULAR
4,XVFPUCD00006262141,NORTH,HARYANA,REWARI,SATNALI,PRIME,NaN,-,SURENDER SINGH,45267,...,NEW,MARUTI SUZUKI,FRONX SIGMA 1.2L 5MT CNG,FRONX,NaN,646446.0,0.0,2023.0,HR-34-M-6427,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875923,X2WHDTW00000364087,NORTH,DELHI 1,DELHI WEST,DELHI WEST,TW,NaN,-,GANGA RAM,39651,...,NEW,NaN,ES DRUM,DISCOVER 135 SPORTS,NaN,NaN,44726.0,2008.0,UP 14 AR 2503,WRITEOFF
875924,X2WHBVR00001289402,WEST,GUJARAT 3,BHAVNAGAR,BHAVNAGAR,TW,NaN,-,ASIFBHAI RAJAKBHAI PANCHA,41921,...,NEW,NaN,ACTIVA,ACTIVA,NaN,NaN,7270.0,2014.0,GJ-04-CD-8507,WRITEOFF
875925,X2WHNDD00001298687,WEST,MH6,NANDED,NANDED,TW,NaN,-,MANOJ BALAJI VADJE,41932,...,NEW,NaN,SELF SPOKES,PASSION PRO,NaN,NaN,13214.0,2014.0,MH-26-AQ-6604,WRITEOFF
875926,X2WHLDA00001309145,NORTH,PUNJAB,LUDHIANA,LUDHIANA,TW,NaN,-,SOURAV SHARMA,41954,...,NEW,NaN,ACTIVA,ACTIVA,NaN,NaN,5220.0,2014.0,PB-10-FA-3056,WRITEOFF
875927,X2WHSOL00001308558,WEST,MH6 A,SOLAPUR,SOLAPUR,TW,NaN,-,MAHESH JAGADEV MHAMANE,41933,...,NEW,NaN,XTREAM DRUM,XTREAM DRUM,NaN,NaN,7150.0,2014.0,MH-13-BY-2448,WRITEOFF

In [20]:
#deli_base2=pd.read_excel(r"D:\Stock working file\Final VF,TW,TRAC & CE Delinquency Dump Feb2024.xlsb",sheet_name='Base 2')
deli_base2

,Agmt No,Zone,Region,Area,Branch,Prime/Shubh,Unnamed: 6,Customer ID,Customer Name,Agmt Date,...,New/used,Manufacturer,Asset,Make,PRODUCT,POS,OD,Manufacture Year,Reg no,NPA_STAGE_ID
0,XTRASNA00005072423,WEST,MP 3,SATNA,SATNA,TRACTOR,NaN,-,BASANT LAL RAJAK,44844,...,NEW,EICHER TMTL,TRACTOR,EIC 368-36 HP,NaN,339285.00,0.00,2022,MP-19-ZA-6432,REGULAR
1,XTRACBA00004138839,EAST,JHARKHAND 2,CHAIBASA,CHAIBASA,TRACTOR,NaN,-,SOMKANT PURTY,44343,...,NEW,MAHINDRA AND MAHINDRA,M 475 DI MKM,M 475 DI MKM,NaN,364471.00,0.00,2021,JH-06-P-6054,REGULAR
2,XTRAMSA00002408983,WEST,GUJARAT 1,MEHSANA,MEHSANA,TRACTOR,NaN,-,punabhai kamabhai chaudhari,43241,...,NEW,JOHN DEERE,TRACTOR,JD 5105-40 HP,NaN,50484.00,0.00,2018,NaN,REGULAR
3,XTRASUM00002414709,EAST,BIHAR 3,SAMASTIPUR,SAMASTIPUR,TRACTOR,NaN,-,Raj Kumar,43245,...,NEW,SWARAJ,TRACTOR,SWARAJ 744-48 HP,NaN,NaN,90393.80,2018,BR-31-GA-9516,REGULAR
4,XTRAKHS00002414330,EAST,CHATTISGARH 2,KHARSIA,KHARSIA,TRACTOR,NaN,-,JANAK RAM,43245,...,USED,EICHER MOTORS LTD,TRACTOR,EIC 485-45 HP,NaN,NaN,0.00,2014,CG-13-UD-6922,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258425,XTRARMG00006090478,SOUTH,KARNATAKA 5,RAMANAGARA,RAMANAGARA,TRACTOR,NaN,-,VinodKumar RS,45217,...,NEW,MAHINDRA AND MAHINDRA,TRACTOR,M 475 SARPANCH,NaN,338764.00,0.00,2023,KA-42-TA-2023,REGULAR
258426,XTRABWI00005555355,NORTH,HARYANA,BHIWANI,BHIWANI,TRACTOR,NaN,-,Balwan M,45026,...,NEW,SONALICA INTERNATIONAL TRACTORS LTD,TRACTOR,SONALIKA DI-734-III - 35 HP,NaN,408315.00,0.00,2023,HR-18-E-4365,REGULAR
258427,XTRASUM00005503223,EAST,BIHAR 3,SAMASTIPUR,SAMASTIPUR,TRACTOR,NaN,-,Kanhaiya Kumar Ray,45008,...,NEW,ESCORTS KUBOTA LIMITED,TRACTOR,ESCORTS PT EURO 42 PLUS-42 HP,NaN,589704.00,17229.35,2023,BR-33-GB-6862,REGULAR
258428,XTRAMAJ00003811602,NORTH,UTTARPRADESH 1,BASTI,MAHARAJGANJ,TRACTOR,NaN,-,JALAWATI DEVI,44130,...,NEW,EICHER TMTL,TRACTOR,EIC 557-55HP,NaN,261376.00,0.00,2020,UP-56-AL-1184,REGULAR
258429,XTRANLR00004363738,SOUTH,AP2,NELLORE,NELLORE,TRACTOR,NaN,-,KUNJUPILLAI SAHADEVAN,44498,...,NEW,JOHN DEERE,TRACTOR,JD 5310-55 HP/LOADER,NaN,251079.16,37962.00,2021,AP-39-LH-9052,REGULAR

In [21]:
deli_con = pd.concat([deli_base, deli_cetw, deli_base1, deli_base2], ignore_index=True)

In [22]:
deli_con

,Agmt No,Zone,Region,Area,Branch,Prime/Shubh,Unnamed: 6,Customer ID,Customer Name,Agmt Date,...,POS,OD,Manufacture Year,Reg no,NPA_STAGE_ID,Unnamed: 25,AGREEMENTNO,POS.1,OD.1,OD_PLUS_POS
0,XVFPRAA00005354202,EAST,JHARKHAND 2,DHANBAD,RAJDHANWAR,PRIME,NaN,-,Surendra Kumar Vishwakarma,44954,...,14635.00,0.00,2023.0,JH-11-AL-4678,REGULAR,NaN,NaN,NaN,NaN,NaN
1,XVFPCHU00006371782,NORTH,RAJASTHAN 3,CHURU,CHURU,PRIME,NaN,-,MOSOYAL M,45307,...,191036.00,0.00,2024.0,RJ-18-RS-9283,REGULAR,NaN,NaN,NaN,NaN,NaN
2,XVFPBMI00006240898,NORTH,RAJASTHAN 4,JHALAWAR,BHAWANI MANDI,PRIME,NaN,-,SHIVRAJ SINGH,45259,...,57780.00,3200.00,2023.0,RJ-17-ES-0557,REGULAR,NaN,NaN,NaN,NaN,NaN
3,XVFPBKR00005187788,NORTH,RAJASTHAN 3,BIKANER,BIKANER,PRIME,NaN,-,HEERA R,44886,...,62085.00,8715.00,2022.0,RJ-07-NS-5564,REGULAR,NaN,NaN,NaN,NaN,NaN
4,XVFPHGD00004448567,WEST,MP 2,NARMADAPURAM,NARMADAPURAM,PRIME,NaN,-,Jitesh Ahirwar,44540,...,87107.00,4674.00,2021.0,MP-05-NB-1977,REGULAR,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495361,XTRARMG00006090478,SOUTH,KARNATAKA 5,RAMANAGARA,RAMANAGARA,TRACTOR,NaN,-,VinodKumar RS,45217,...,338764.00,0.00,2023.0,KA-42-TA-2023,REGULAR,NaN,NaN,NaN,NaN,NaN
2495362,XTRABWI00005555355,NORTH,HARYANA,BHIWANI,BHIWANI,TRACTOR,NaN,-,Balwan M,45026,...,408315.00,0.00,2023.0,HR-18-E-4365,REGULAR,NaN,NaN,NaN,NaN,NaN
2495363,XTRASUM00005503223,EAST,BIHAR 3,SAMASTIPUR,SAMASTIPUR,TRACTOR,NaN,-,Kanhaiya Kumar Ray,45008,...,589704.00,17229.35,2023.0,BR-33-GB-6862,REGULAR,NaN,NaN,NaN,NaN,NaN
2495364,XTRAMAJ00003811602,NORTH,UTTARPRADESH 1,BASTI,MAHARAJGANJ,TRACTOR,NaN,-,JALAWATI DEVI,44130,...,261376.00,0.00,2020.0,UP-56-AL-1184,REGULAR,NaN,NaN,NaN,NaN,NaN
2495365,XTRANLR00004363738,SOUTH,AP2,NELLORE,NELLORE,TRACTOR,NaN,-,KUNJUPILLAI SAHADEVAN,44498,...,251079.16,37962.00,2021.0,AP-39-LH-9052,REGULAR,NaN,NaN,NaN,NaN,NaN

In [23]:
deli_look=pd.merge(select,deli_con[['Zone','Region','Area','Branch','Prime/Shubh','Customer ID','Customer Name','Agmt Date','Closing Bucket No.of INS','Closing Bucket Bucket','Category Rev','New/used','Manufacturer','Asset','Make','Manufacture Year','Reg no','NPA_STAGE_ID','Agmt No']],left_on='Agreement',right_on='Agmt No',how='left')
deli_look

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,Closing Bucket Bucket,Category Rev,New/used,Manufacturer,Asset,Make,Manufacture Year,Reg no,NPA_STAGE_ID,Agmt No
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,0,3WHLR,NEW,PIAGGIO VEHICLES,3WHEELER,APE,2022.0,BR-11-PC-7492,REGULAR,XVFPPNE00005032853
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,1-2,TW,NEW,YAMAHA,TWO WHEELER,YZF R15,2023.0,RJ-12-KS-0161,REGULAR,XVFPDGR00005956350
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,5-6,TRACTOR,NEW,ESCORTS KUBOTA LIMITED,TRACTOR,ESCORTS PT EURO 47 - 47 HP,2022.0,WB-86-F-2634,REGULAR,XTRACOO00005294252
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,1-2,TW,NEW,HERO ELECTRIC,2WHEELER EV,OPTIMA,2023.0,BR-11-BC-0913,REGULAR,XVFPPNE00005325826
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,0-1,TW,NEW,HERO,TWO WHEELER,X TREME,2023.0,RJ-02-QB-6144,REGULAR,XVFPTGA00006262418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,4-5,CAR,USED,MARUTI SUZUKI,CAR,BALENO,2020.0,HR-85-D-5110,REGULAR,XVFPABL00005449643
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,0,TW,NEW,HERO,TWO WHEELER,PLEASURE PLUS,2023.0,RJ-13-NS-7168,REGULAR,XVFPGMI00006068662
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,0,3WHLR,NEW,TVS,3WHEELER,KING,2024.0,BR-11-PC-8965,REGULAR,XVFPKRK00006354774
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,0-1,TW,NEW,HONDA,TWO WHEELER,SHINE,2023.0,BR-39-AN-6883,REGULAR,XVFPKRK00005743646
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,0,TW,NEW,BAJAJ,TWO WHEELER,PULSAR,2023.0,BR-39-AN-2846,REGULAR,XVFPKRK00005633836

In [24]:
deli_look['Agmt Date']=pd.to_datetime(deli_look['Agmt Date'],unit='D',origin='30-12-1899')

In [25]:
deli_look['Agmt Date']=deli_look['Agmt Date'].dt.strftime('%d-%m-%Y')

In [26]:
deli_look['Closing Bucket Bucket'] = "'" + deli_look['Closing Bucket Bucket'].astype(str)

In [27]:
#char_deli1=pd.read_excel(r'D:\Stock working file\Deli 12-3-24.xlsb',sheet_name='Tra')
char_deli1

,AGREEMENTNO,DPD,NEW DPD,Month GRP,EMI_OS,MI_OS,GV in Lacs,UNADJUST,NPA_STAGEID,CIF_NO,CO - LENDING FLAG,Unnamed: 11
0,XTRA0KU00001210026,0,0,0,0.0,NaN,0.00000,0.0,REGULAR,743398.0,NO,NaN
1,XTRA0KU00001626955,0,0,0,0.0,NaN,0.00000,NaN,REGULAR,726562.0,NO,NaN
2,XTRA0KU00001760927,0,0,0,0.0,NaN,0.00000,NaN,REGULAR,4099196.0,NO,NaN
3,XTRA0KU00001892013,0,0,0,0.0,NaN,0.00000,NaN,REGULAR,4393130.0,NO,NaN
4,XTRA0KU00001907649,0,0,0,0.0,NaN,0.00000,NaN,REGULAR,4417956.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
258791,XTRAYLA00005236534,104,108,3-4,15149.0,NaN,2.79597,0.0,REGULAR,10680997.0,NO,NaN
258792,XTRAYNV00003997451,91,95,3-4,65515.0,NaN,0.65515,NaN,REGULAR,5249071.0,NO,NaN
258793,XTRAYNV00004654103,91,95,3-4,40760.0,NaN,0.40760,0.0,REGULAR,9218256.0,NO,NaN
258794,XTRAYNV00005068702,109,113,3-4,68000.0,NaN,2.45480,NaN,REGULAR,10328460.0,NO,NaN
258795,XTRAYNV00005512211,94,98,3-4,25000.0,NaN,5.41806,NaN,REGULAR,377362.0,NO,NaN

In [28]:
char_deli11=char_deli1.iloc[: ,[0,4,6]]
char_deli11

               AGREEMENTNO   EMI_OS  GV in Lacs
0       XTRA0KU00001210026      0.0     0.00000
1       XTRA0KU00001626955      0.0     0.00000
2       XTRA0KU00001760927      0.0     0.00000
3       XTRA0KU00001892013      0.0     0.00000
4       XTRA0KU00001907649      0.0     0.00000
...                    ...      ...         ...
258791  XTRAYLA00005236534  15149.0     2.79597
258792  XTRAYNV00003997451  65515.0     0.65515
258793  XTRAYNV00004654103  40760.0     0.40760
258794  XTRAYNV00005068702  68000.0     2.45480
258795  XTRAYNV00005512211  25000.0     5.41806

[258796 rows x 3 columns]

In [29]:
char_deli1_1=char_deli11.rename(columns={'GV in Lacs':'GV IN LACS'})

In [30]:
#char_deli2=pd.read_excel(r'D:\Stock working file\Deli 12-3-24.xlsb',sheet_name='VF 1')
char_deli2

,AGREEMENTNO,DPD,NEW DPD,Month GRP,EMI_OS,MI_OS,GV IN LACS,UNADJUST,NPA_STAGEID,CIF_NO,CO - LENDING FLAG,Unnamed: 11
0,AHAG11131,0,0,0,0.00,NaN,0.000000,0.0,REGULAR,2755024.0,NO,NaN
1,BLAG12455,0,0,0,0.00,NaN,0.000000,NaN,REGULAR,2872085.0,NO,NaN
2,BLAG19879,0,0,0,0.00,NaN,0.000000,0.0,REGULAR,2962566.0,NO,NaN
3,BLAG3710,0,0,0,0.00,NaN,0.000000,NaN,REGULAR,2986669.0,NO,NaN
4,BLAG4644,0,0,0,0.00,NaN,0.000000,NaN,REGULAR,2868671.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
940735,XVFPYTL00003170091,91,95,3-4,96900.00,NaN,1.295760,0.0,REGULAR,6458959.0,NO,NaN
940736,XVFPYTL00004415120,94,98,3-4,65445.00,NaN,5.118150,NaN,REGULAR,8765237.0,NO,NaN
940737,XVFPYTL00005534521,91,95,3-4,36654.00,NaN,3.654190,0.0,REGULAR,11462513.0,NO,NaN
940738,XVFPYTL00005703080,91,95,3-4,44500.22,NaN,5.924942,0.0,REGULAR,6539753.0,NO,NaN
940739,XVFPYTL00005977915,109,113,3-4,91180.00,NaN,10.127890,NaN,REGULAR,12793574.0,NO,NaN

In [31]:
char_deli22=char_deli2.iloc[: ,[0,4,6]]
char_deli22

               AGREEMENTNO    EMI_OS  GV IN LACS
0                AHAG11131      0.00    0.000000
1                BLAG12455      0.00    0.000000
2                BLAG19879      0.00    0.000000
3                 BLAG3710      0.00    0.000000
4                 BLAG4644      0.00    0.000000
...                    ...       ...         ...
940735  XVFPYTL00003170091  96900.00    1.295760
940736  XVFPYTL00004415120  65445.00    5.118150
940737  XVFPYTL00005534521  36654.00    3.654190
940738  XVFPYTL00005703080  44500.22    5.924942
940739  XVFPYTL00005977915  91180.00   10.127890

[940740 rows x 3 columns]

In [32]:
#char_deli3=pd.read_excel(r'D:\Stock working file\Deli 12-3-24.xlsb',sheet_name='VF 2')
char_deli3

,AGREEMENTNO,DPD,NEW DPD,Month GRP,EMI_OS,MI_OS,GV IN LACS,UNADJUST,NPA_STAGEID,CIF_NO,CO - LENDING FLAG,Unnamed: 11
0,AHAG10068,0.0,0,0,0.0,NaN,0.000000,NaN,REGULAR,2751449.0,NO,NaN
1,AHAG10728,0.0,0,0,0.0,NaN,0.000000,0.0,REGULAR,2953171.0,NO,NaN
2,BLAG8186,0.0,0,0,0.0,NaN,0.000000,0.0,REGULAR,2964347.0,NO,NaN
3,CHAG5132,0.0,0,0,0.0,NaN,0.000000,NaN,REGULAR,3037213.0,NO,NaN
4,CHAG8074,0.0,0,0,0.0,NaN,0.000000,NaN,REGULAR,454276.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1001014,XVFPYAN00004798709,91.0,95,3-4,12840.0,NaN,0.211950,0.0,REGULAR,9602089.0,NO,NaN
1001015,XVFPYLA00004683264,109.0,113,3-4,12360.0,NaN,0.486080,NaN,REGULAR,8705415.0,NO,NaN
1001016,XVFPYNV00003268226,94.0,98,3-4,12924.0,NaN,0.212748,0.0,REGULAR,6599986.0,NO,NaN
1001017,XVFPYNV00004227688,109.0,113,3-4,8500.0,NaN,0.212250,0.0,REGULAR,8358354.0,NO,NaN
1001018,XVFPYNV00005922618,94.0,98,3-4,10232.0,NaN,0.835110,NaN,REPO,12598947.0,NO,NaN

In [33]:
char_deli33=char_deli3.iloc[: ,[0,4,6]]
char_deli33

                AGREEMENTNO   EMI_OS  GV IN LACS
0                 AHAG10068      0.0    0.000000
1                 AHAG10728      0.0    0.000000
2                  BLAG8186      0.0    0.000000
3                  CHAG5132      0.0    0.000000
4                  CHAG8074      0.0    0.000000
...                     ...      ...         ...
1001014  XVFPYAN00004798709  12840.0    0.211950
1001015  XVFPYLA00004683264  12360.0    0.486080
1001016  XVFPYNV00003268226  12924.0    0.212748
1001017  XVFPYNV00004227688   8500.0    0.212250
1001018  XVFPYNV00005922618  10232.0    0.835110

[1001019 rows x 3 columns]

In [34]:
#char_deli4=pd.read_excel(r'D:\Stock working file\Deli 12-3-24.xlsb',sheet_name='VF 3')
char_deli4

,AGREEMENTNO,DPD,NEW DPD,Month GRP,EMI_OS,MI_OS,GV IN LACS,UNADJUST,NPA_STAGEID,CIF_NO,CO - LENDING FLAG,Unnamed: 11
0,AXLN323016,5900,5904,37+,30400.0,NaN,0.30400,NaN,WRITEOFF,2996756.0,NO,NaN
1,AXLN336426,5718,5722,37+,40265.0,NaN,0.40265,0.0,WRITEOFF,3997892.0,NO,NaN
2,AXLN340921,5534,5538,37+,4470.0,NaN,0.04470,NaN,WRITEOFF,668576.0,NO,NaN
3,BXLN272604,5657,5661,37+,139519.0,NaN,1.39519,0.0,WRITEOFF,2931886.0,NO,NaN
4,BXLN281496,5657,5661,37+,9017.0,NaN,0.09017,0.0,WRITEOFF,2735842.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
318665,XSHUZST00006385818,0,0,0,0.0,NaN,5.21772,NaN,REGULAR,14093691.0,NO,NaN
318666,XSHUZST00006409489,0,0,0,0.0,NaN,2.81073,NaN,REGULAR,14186117.0,NO,NaN
318667,XSHUZST00006459592,0,0,0,0.0,NaN,3.62356,NaN,REGULAR,14409616.0,NO,NaN
318668,XSHUZST00006473047,0,0,0,0.0,NaN,8.56196,NaN,REGULAR,14427974.0,NO,NaN
318669,XSHUZST00006533539,0,0,0,NaN,NaN,5.25000,NaN,REGULAR,6108203.0,NO,NaN

In [35]:
char_deli44=char_deli4.iloc[: ,[0,4,6]]
char_deli44

               AGREEMENTNO    EMI_OS  GV IN LACS
0               AXLN323016   30400.0     0.30400
1               AXLN336426   40265.0     0.40265
2               AXLN340921    4470.0     0.04470
3               BXLN272604  139519.0     1.39519
4               BXLN281496    9017.0     0.09017
...                    ...       ...         ...
318665  XSHUZST00006385818       0.0     5.21772
318666  XSHUZST00006409489       0.0     2.81073
318667  XSHUZST00006459592       0.0     3.62356
318668  XSHUZST00006473047       0.0     8.56196
318669  XSHUZST00006533539       NaN     5.25000

[318670 rows x 3 columns]

In [36]:
char_deli=pd.concat([char_deli1_1,char_deli22,char_deli33,char_deli44],ignore_index=True)
char_deli

                AGREEMENTNO  EMI_OS  GV IN LACS
0        XTRA0KU00001210026     0.0     0.00000
1        XTRA0KU00001626955     0.0     0.00000
2        XTRA0KU00001760927     0.0     0.00000
3        XTRA0KU00001892013     0.0     0.00000
4        XTRA0KU00001907649     0.0     0.00000
...                     ...     ...         ...
2519220  XSHUZST00006385818     0.0     5.21772
2519221  XSHUZST00006409489     0.0     2.81073
2519222  XSHUZST00006459592     0.0     3.62356
2519223  XSHUZST00006473047     0.0     8.56196
2519224  XSHUZST00006533539     NaN     5.25000

[2519225 rows x 3 columns]

In [37]:
deli_look1=pd.merge(deli_look,char_deli[['AGREEMENTNO','EMI_OS','GV IN LACS']],left_on='Agreement',right_on='AGREEMENTNO',how='left')
deli_look1

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,Manufacturer,Asset,Make,Manufacture Year,Reg no,NPA_STAGE_ID,Agmt No,AGREEMENTNO,EMI_OS,GV IN LACS
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,PIAGGIO VEHICLES,3WHEELER,APE,2022.0,BR-11-PC-7492,REGULAR,XVFPPNE00005032853,XVFPPNE00005032853,7600.0,1.82905
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,YAMAHA,TWO WHEELER,YZF R15,2023.0,RJ-12-KS-0161,REGULAR,XVFPDGR00005956350,XVFPDGR00005956350,19161.0,1.63862
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,ESCORTS KUBOTA LIMITED,TRACTOR,ESCORTS PT EURO 47 - 47 HP,2022.0,WB-86-F-2634,REGULAR,XTRACOO00005294252,XTRACOO00005294252,111300.0,6.61604
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,HERO ELECTRIC,2WHEELER EV,OPTIMA,2023.0,BR-11-BC-0913,REGULAR,XVFPPNE00005325826,XVFPPNE00005325826,13950.0,0.56163
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,HERO,TWO WHEELER,X TREME,2023.0,RJ-02-QB-6144,REGULAR,XVFPTGA00006262418,XVFPTGA00006262418,10550.0,1.41928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,MARUTI SUZUKI,CAR,BALENO,2020.0,HR-85-D-5110,REGULAR,XVFPABL00005449643,XVFPABL00005449643,29840.0,1.89599
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,HERO,TWO WHEELER,PLEASURE PLUS,2023.0,RJ-13-NS-7168,REGULAR,XVFPGMI00006068662,XVFPGMI00006068662,3190.0,0.78094
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,TVS,3WHEELER,KING,2024.0,BR-11-PC-8965,REGULAR,XVFPKRK00006354774,XVFPKRK00006354774,8000.0,2.43007
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,HONDA,TWO WHEELER,SHINE,2023.0,BR-39-AN-6883,REGULAR,XVFPKRK00005743646,XVFPKRK00005743646,5654.0,0.64790
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,BAJAJ,TWO WHEELER,PULSAR,2023.0,BR-39-AN-2846,REGULAR,XVFPKRK00005633836,XVFPKRK00005633836,5176.0,1.11737

In [38]:
#branchlist=pd.read_excel(r"C:\Users\natrajsekarvs\Downloads\Branch List.xlsb")
branchlist

,SUB ZONE,FINAL BRANCH,BRANCH,ZONE,STATE,REGION,AREA,BRANCH.1,STATE.1,Branch ID,Dispatch
0,North 1,Abohar Vf,Abohar,North,"Punjab,Hpc & J&K",Punjab,Abohar,Abohar,Punjab,502.0,Abohar
1,North 2,Abu Road Vf,Abu Road,North,Rajasthan,Rajasthan 2,Sumerpur,Abu Road,Rajasthan,452.0,Abu Road
2,South 2,Adilabad Vf,Adilabad,South,Ap & Telangana,Telangana 2,Nizamabad,Adilabad,Telangana,6116.0,Adilabad
3,South 1,Adimaly Vf,Adimaly,South,Kerala,Kerala 1,Kattappana,Adimaly,Kerala,6281.0,Adimaly
4,South 2,Adoni Vf,Adoni,South,Ap & Telangana,Ap2,Kurnool,Adoni,Andhra Pradesh,460.0,Adoni
...,...,...,...,...,...,...,...,...,...,...,...
1985,NaN,Sarojni Nagar Vf,Sarojni Nagar,North,Up & Uk,Uttarpradesh 1,Lucknow,Sarojni Nagar,Uttarpradesh,7819.0,Rl Branch
1986,NaN,Pauri Vf,Pauri,North,Up & Uk,Uttrakhand 1,Rishikesh,Pauri,Uttarakhand,7824.0,Rl Branch
1987,NaN,Thally Vf,Thally,South,Tamil Nadu,Tn_5,Hosur,Thally,Tamil Nadu,7821.0,Rl Branch
1988,NaN,Mohur Vf,Mohur,West,Maharashtra State 1,Mh3,Yavatmal,Mohur,Maharashtra,7801.0,Rl Branch
1989,NaN,Pandharkawada Vf,Pandharkawada,West,Maharashtra State 1,Mh3,Yavatmal,Pandharkawada,Maharashtra,7822.0,Rl Branch

In [39]:
branchlist['BRANCH']=branchlist['BRANCH'].str.upper()
deli_look['Branch']=deli_look['Branch'].str.upper()

In [40]:
deli_out=pd.merge(deli_look1,branchlist[['BRANCH','STATE']],left_on='Branch',right_on='BRANCH',how='left')
deli_out

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,Make,Manufacture Year,Reg no,NPA_STAGE_ID,Agmt No,AGREEMENTNO,EMI_OS,GV IN LACS,BRANCH,STATE
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,APE,2022.0,BR-11-PC-7492,REGULAR,XVFPPNE00005032853,XVFPPNE00005032853,7600.0,1.82905,PURNEA,Bihar
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,YZF R15,2023.0,RJ-12-KS-0161,REGULAR,XVFPDGR00005956350,XVFPDGR00005956350,19161.0,1.63862,DUNGARPUR,Rajasthan
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,ESCORTS PT EURO 47 - 47 HP,2022.0,WB-86-F-2634,REGULAR,XTRACOO00005294252,XTRACOO00005294252,111300.0,6.61604,COOCHBEHAR,Westbengal
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,OPTIMA,2023.0,BR-11-BC-0913,REGULAR,XVFPPNE00005325826,XVFPPNE00005325826,13950.0,0.56163,PURNEA,Bihar
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,X TREME,2023.0,RJ-02-QB-6144,REGULAR,XVFPTGA00006262418,XVFPTGA00006262418,10550.0,1.41928,THANAGAJI,Rajasthan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,BALENO,2020.0,HR-85-D-5110,REGULAR,XVFPABL00005449643,XVFPABL00005449643,29840.0,1.89599,AMBALA,Delhi & Haryana
71,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,PLEASURE PLUS,2023.0,RJ-13-NS-7168,REGULAR,XVFPGMI00006068662,XVFPGMI00006068662,3190.0,0.78094,GHARSANA MANDI,Rajasthan
72,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,KING,2024.0,BR-11-PC-8965,REGULAR,XVFPKRK00006354774,XVFPKRK00006354774,8000.0,2.43007,KATIHAR,Bihar
73,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,SHINE,2023.0,BR-39-AN-6883,REGULAR,XVFPKRK00005743646,XVFPKRK00005743646,5654.0,0.64790,KATIHAR,Bihar
74,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,PULSAR,2023.0,BR-39-AN-2846,REGULAR,XVFPKRK00005633836,XVFPKRK00005633836,5176.0,1.11737,KATIHAR,Bihar

In [41]:
deli_output=deli_out.drop_duplicates(subset='Agreement')
deli_output

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,Make,Manufacture Year,Reg no,NPA_STAGE_ID,Agmt No,AGREEMENTNO,EMI_OS,GV IN LACS,BRANCH,STATE
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,APE,2022.0,BR-11-PC-7492,REGULAR,XVFPPNE00005032853,XVFPPNE00005032853,7600.0,1.82905,PURNEA,Bihar
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,YZF R15,2023.0,RJ-12-KS-0161,REGULAR,XVFPDGR00005956350,XVFPDGR00005956350,19161.0,1.63862,DUNGARPUR,Rajasthan
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,ESCORTS PT EURO 47 - 47 HP,2022.0,WB-86-F-2634,REGULAR,XTRACOO00005294252,XTRACOO00005294252,111300.0,6.61604,COOCHBEHAR,Westbengal
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,OPTIMA,2023.0,BR-11-BC-0913,REGULAR,XVFPPNE00005325826,XVFPPNE00005325826,13950.0,0.56163,PURNEA,Bihar
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,X TREME,2023.0,RJ-02-QB-6144,REGULAR,XVFPTGA00006262418,XVFPTGA00006262418,10550.0,1.41928,THANAGAJI,Rajasthan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,BALENO,2020.0,HR-85-D-5110,REGULAR,XVFPABL00005449643,XVFPABL00005449643,29840.0,1.89599,AMBALA,Delhi & Haryana
71,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,PLEASURE PLUS,2023.0,RJ-13-NS-7168,REGULAR,XVFPGMI00006068662,XVFPGMI00006068662,3190.0,0.78094,GHARSANA MANDI,Rajasthan
72,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,KING,2024.0,BR-11-PC-8965,REGULAR,XVFPKRK00006354774,XVFPKRK00006354774,8000.0,2.43007,KATIHAR,Bihar
73,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,SHINE,2023.0,BR-39-AN-6883,REGULAR,XVFPKRK00005743646,XVFPKRK00005743646,5654.0,0.64790,KATIHAR,Bihar
74,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,PULSAR,2023.0,BR-39-AN-2846,REGULAR,XVFPKRK00005633836,XVFPKRK00005633836,5176.0,1.11737,KATIHAR,Bihar

In [42]:
deli_output1=deli_output.drop(columns=['Agmt No','BRANCH','AGREEMENTNO'])
deli_output1

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,New/used,Manufacturer,Asset,Make,Manufacture Year,Reg no,NPA_STAGE_ID,EMI_OS,GV IN LACS,STATE
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,NEW,PIAGGIO VEHICLES,3WHEELER,APE,2022.0,BR-11-PC-7492,REGULAR,7600.0,1.82905,Bihar
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,NEW,YAMAHA,TWO WHEELER,YZF R15,2023.0,RJ-12-KS-0161,REGULAR,19161.0,1.63862,Rajasthan
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,NEW,ESCORTS KUBOTA LIMITED,TRACTOR,ESCORTS PT EURO 47 - 47 HP,2022.0,WB-86-F-2634,REGULAR,111300.0,6.61604,Westbengal
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,NEW,HERO ELECTRIC,2WHEELER EV,OPTIMA,2023.0,BR-11-BC-0913,REGULAR,13950.0,0.56163,Bihar
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,NEW,HERO,TWO WHEELER,X TREME,2023.0,RJ-02-QB-6144,REGULAR,10550.0,1.41928,Rajasthan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,USED,MARUTI SUZUKI,CAR,BALENO,2020.0,HR-85-D-5110,REGULAR,29840.0,1.89599,Delhi & Haryana
71,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,NEW,HERO,TWO WHEELER,PLEASURE PLUS,2023.0,RJ-13-NS-7168,REGULAR,3190.0,0.78094,Rajasthan
72,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,NEW,TVS,3WHEELER,KING,2024.0,BR-11-PC-8965,REGULAR,8000.0,2.43007,Bihar
73,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,NEW,HONDA,TWO WHEELER,SHINE,2023.0,BR-39-AN-6883,REGULAR,5654.0,0.64790,Bihar
74,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,NEW,BAJAJ,TWO WHEELER,PULSAR,2023.0,BR-39-AN-2846,REGULAR,5176.0,1.11737,Bihar

In [43]:
deli_output1['GV']=deli_output1['GV IN LACS']*100000

In [44]:
deli_output1['pos']=deli_output1['GV'] - deli_output1['EMI_OS']

In [45]:
#deli_output1.to_csv('D:\\Stock working file\\stockfile1.csv',index=False)

In [46]:
#pd1=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='VF')
pd1

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,...,ASSETTYPE,CATGDESC,CUSTOMER_IRR,SECURITSATION_BANK,Allocation BKT REV Feb'15,Allocation BKT REV Mar'15,SEGMENTATION,Unnamed: 66,NO OF_INS July,NO OF_INS Aug'17
0,XVFPRAA00005354202,44985,45501,13,13-18,18,13,13.000000,0.000000,5,...,NEW,TW,22.03307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XVFPCHU00006371782,45342,46042,1,0-6,24,1,1.000000,0.000000,23,...,NEW,TW,17.99502,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XVFPBMI00006240898,45296,45996,2,0-6,24,2,1.178082,0.821918,22,...,NEW,TW,21.46209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,XVFPBKR00005187788,44920,46167,15,13-18,42,15,12.797260,2.202740,27,...,NEW,TW,20.99585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XVFPHGD00004448567,44571,46001,26,25-35,48,26,25.342466,0.657534,22,...,NEW,TW,17.93222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832719,XVFPRMN00004835605,44767,46167,20,19-24,47,20,3.791781,16.208219,27,...,NEW,TW,18.00303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832720,XVFPNAL00004549508,44625,44962,24,19-24,12,12,12.000000,0.000000,0,...,NEW,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832721,XVFPSIW00005559162,45061,46037,10,7-12,33,10,10.000000,0.000000,23,...,NEW,TW,17.06486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832722,XVFPPNP00006441351,45361,46063,0,0-6,24,0,0.000000,0.000000,24,...,NEW,TW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832723,XVFPRNG00005541261,45044,45563,11,7-12,18,11,11.000000,0.000000,7,...,NEW,TW,22.89938,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
pd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832724 entries, 0 to 832723
Data columns (total 69 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   AGREEMENTNO                832724 non-null  object
 1   EMI_STARTDATE              832724 non-null  int64
 2   LAST_EMI_DATE              832724 non-null  int64
 3   SEASONING                  832724 non-null  int64
 4   SEASONING GRP              832724 non-null  object
 5   TENURE                     832724 non-null  int64
 6   BILLING                    832724 non-null  int64
 7   PAID TENURE                832724 non-null  float64
 8   UNPAID TENURE              832724 non-null  float64
 9   FUTURE TENURE              832724 non-null  int64
 10  PAID %                     832724 non-null  float64
 11  PAID TENURE GRP            832724 non-null  object
 12  COLOR CODING               0 non-null       float64
 13  PRODUCT                    832724 non-null  object
 14  NEW PRODUCT                0 non-null       float64
 15  Sub Product                832724 non-null  object
 16  SCHEME                     832724 non-null  object
 17  ZONE                       832724 non-null  object
 18  REGION                     832724 non-null  object
 19  AREA OFFICE                832724 non-null  object
 20  BRANCH                     832724 non-null  object
 21  HIGH DELINQUENT            0 non-null       float64
 22  CUSTOMERNAME               832724 non-null  object
 23  ASSETCOST                  832724 non-null  int64
 24  AMTFIN                     832724 non-null  int64
 25  EMI                        832724 non-null  float64
 26  AVG_EMI                    832724 non-null  float64
 27  EMI_OS                     832724 non-null  float64
 28  POS                        736084 non-null  float64
 29  OD_PLUS_POS                832724 non-null  float64
 30  Nov'2023                   767149 non-null  float64
 31  Dec'2023                   767149 non-null  float64
 32  Jan'2024                   800268 non-null  float64
 33  Feb'2024                   832724 non-null  float64
 34  Difference                 0 non-null       float64
 35  3 MTHS STATUS              832724 non-null  object
 36  Payment Status             0 non-null       float64
 37  Principal_Paid             832724 non-null  float64
 38  Principal_Overdue          832724 non-null  float64
 39  INTCOMP_BILLED             832724 non-null  float64
 40  INTCOMP_RECD               832721 non-null  float64
 41  ACCRUEDAMT                 823566 non-null  float64
 42  IENC                       832724 non-null  float64
 43  GV PAYABLE                 832724 non-null  float64
 44  GV PAID AS OF NOW          832724 non-null  float64
 45  INSTL_MODE                 0 non-null       float64
 46  DPD                        832724 non-null  int64
 47  NO OF_INS                  832724 non-null  float64
 48  BKT GRP                    832724 non-null  object
 49  NPA_STAGE_ID               832724 non-null  object
 50  PAYMODE                    832724 non-null  object
 51  DOB                        832434 non-null  float64
 52  AGREEMENTDATE              832724 non-null  int64
 53  CUSTOMER_CATG_DESC         832723 non-null  object
 54  MANUFACTURERDESC           832724 non-null  object
 55  YEAR_OF_MANF               832712 non-null  float64
 56  MAKE                       832724 non-null  object
 57  MODEL_NO                   832476 non-null  object
 58  ASSETDESC                  832724 non-null  object
 59  ASSETTYPE                  832724 non-null  object
 60  CATGDESC                   832724 non-null  object
 61  CUSTOMER_IRR               701930 non-null  float64
 62  SECURITSATION_BANK         0 non-null       float64
 63  Allocation BKT REV Feb'15  0 non-null       float64
 64  Allocation BKT REV Mar'15  0 non-null       float64
 65  SEGMENTATION               0 non-null       float64
 66  Unnamed: 66                0 non-null       float64
 67  NO OF_INS July             0 non-null       float64
 68  NO OF_INS Aug'17           0 non-null       float64
dtypes: float64(37), int64(10), object(22)
memory usage: 438.4+ MB

In [48]:
pd_1=pd1.iloc[: ,[0,1,2,3,4,5,6,7,8,9,10,11,35]]

In [49]:
#pd2=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='Tractor & TW & CE')
pd2

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,...,ASSETTYPE,CATGDESC,CUSTOMER_IRR,SECURITSATION_BANK,Allocation BKT REV Feb'15,Allocation BKT REV Mar'15,SEGMENTATION,Unnamed: 66,NO OF_INS July,NO OF_INS Aug'17
0,XVFPRGH00006092819,45250,46285,4,0-6,35,4,4.00000,0.00000,31,...,USED,MUV,16.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XVFPNCF00006162101,45270,46701,3,0-6,48,3,3.00000,0.00000,45,...,USED,CAR,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XVFPCRR00005270763,44954,45836,14,13-18,30,14,14.00000,0.00000,16,...,USED,MUV,16.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,XVFPRKH00006393308,45347,47143,1,0-6,60,1,1.00000,0.00000,59,...,USED,CAR,18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XVFPBEM00004371894,44528,45958,28,25-35,48,28,25.89589,2.10411,20,...,USED,CAR,14.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528279,XVFPSVF00004400738,44550,46711,27,25-35,72,27,27.00000,0.00000,45,...,NEW,LCV,12.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528280,XVFPSVF00006202148,45285,47447,3,0-6,72,3,3.00000,0.00000,69,...,NEW,LCV,11.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528281,XVFPFZD00005031957,44859,46624,17,13-18,59,17,17.00000,0.00000,42,...,NEW,LCV,12.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528282,XVFPCHK00005918298,45189,46985,6,0-6,60,6,6.00000,0.00000,54,...,NEW,LCV,13.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528283,XVFPBER00002427564,43279,44283,69,36+,34,34,34.00000,0.00000,0,...,NEW,LCV,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
pd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528284 entries, 0 to 528283
Data columns (total 69 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   AGREEMENTNO                528284 non-null  object
 1   EMI_STARTDATE              528284 non-null  int64
 2   LAST_EMI_DATE              528284 non-null  int64
 3   SEASONING                  528284 non-null  int64
 4   SEASONING GRP              528284 non-null  object
 5   TENURE                     528284 non-null  int64
 6   BILLING                    528284 non-null  int64
 7   PAID TENURE                528284 non-null  float64
 8   UNPAID TENURE              528284 non-null  float64
 9   FUTURE TENURE              528284 non-null  int64
 10  PAID %                     528284 non-null  float64
 11  PAID TENURE GRP            528284 non-null  object
 12  COLOR CODING               0 non-null       float64
 13  PRODUCT                    528284 non-null  object
 14  NEW PRODUCT                0 non-null       float64
 15  Sub Product                528284 non-null  object
 16  SCHEME                     528284 non-null  object
 17  ZONE                       528284 non-null  object
 18  REGION                     528284 non-null  object
 19  AREA OFFICE                528284 non-null  object
 20  BRANCH                     528284 non-null  object
 21  HIGH DELINQUENT            0 non-null       float64
 22  CUSTOMERNAME               528284 non-null  object
 23  ASSETCOST                  528284 non-null  float64
 24  AMTFIN                     528284 non-null  float64
 25  EMI                        528284 non-null  float64
 26  AVG_EMI                    528284 non-null  float64
 27  EMI_OS                     528284 non-null  float64
 28  POS                        497215 non-null  float64
 29  OD_PLUS_POS                528284 non-null  float64
 30  Nov'2023                   492454 non-null  float64
 31  Dec'2023                   492454 non-null  float64
 32  Jan'2024                   509523 non-null  float64
 33  Feb'2024                   528284 non-null  float64
 34  Difference                 0 non-null       float64
 35  3 MTHS STATUS              528284 non-null  object
 36  Payment Status             0 non-null       float64
 37  Principal_Paid             528284 non-null  float64
 38  Principal_Overdue          528284 non-null  float64
 39  INTCOMP_BILLED             528284 non-null  float64
 40  INTCOMP_RECD               528284 non-null  float64
 41  ACCRUEDAMT                 524293 non-null  float64
 42  IENC                       528284 non-null  float64
 43  GV PAYABLE                 528284 non-null  float64
 44  GV PAID AS OF NOW          528284 non-null  float64
 45  INSTL_MODE                 0 non-null       float64
 46  DPD                        528284 non-null  int64
 47  NO OF_INS                  528284 non-null  float64
 48  BKT GRP                    528284 non-null  object
 49  NPA_STAGE_ID               528284 non-null  object
 50  PAYMODE                    528284 non-null  object
 51  DOB                        496884 non-null  object
 52  AGREEMENTDATE              528284 non-null  int64
 53  CUSTOMER_CATG_DESC         528250 non-null  object
 54  MANUFACTURERDESC           528284 non-null  object
 55  YEAR_OF_MANF               527455 non-null  float64
 56  MAKE                       528284 non-null  object
 57  MODEL_NO                   524192 non-null  object
 58  ASSETDESC                  528284 non-null  object
 59  ASSETTYPE                  528284 non-null  object
 60  CATGDESC                   528284 non-null  object
 61  CUSTOMER_IRR               528284 non-null  float64
 62  SECURITSATION_BANK         0 non-null       float64
 63  Allocation BKT REV Feb'15  0 non-null       float64
 64  Allocation BKT REV Mar'15  0 non-null       float64
 65  SEGMENTATION               0 non-null       float64
 66  Unnamed: 66                0 non-null       float64
 67  NO OF_INS July             0 non-null       float64
 68  NO OF_INS Aug'17           0 non-null       float64
dtypes: float64(38), int64(8), object(23)
memory usage: 278.1+ MB

In [51]:
pd_2=pd2.iloc[: ,[0,1,2,3,4,5,6,7,8,9,10,11,35]]

In [52]:
#pd3=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='Base 1')
pd3

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,...,CUSTOMER_CATG_DESC,MANUFACTURERDESC,YEAR_OF_MANF,MAKE,MODEL_NO,ASSETDESC,ASSETTYPE,CATGDESC,CUSTOMER_IRR,SECURITSATION_BANK
0,XVFPSKR00002472935,43317,45021,61,36+,57,57,55.941471,1.058529,0,...,AGRI BASED,HYUNDAI,2018.0,EON,ERA PLUS,CAR,NEW,CAR,13.15,NaN
1,XVFPVYA00004811465,44762,46527,20,19-24,59,20,19.671233,0.328767,39,...,PRIOR VEHICLE WITHOUT RTR,EICHER,2022.0,PRO 3019,J CBC WB4490 MM 20 FT,HCV,NEW,HCV,9.75,NaN
2,XVFPEVF00005775791,45135,46566,8,7-12,48,8,7.934247,0.065753,40,...,PRIME NEW-TATKAL SCV/LCV,ATHER,2023.0,450X,450X WITH PRO PACK,2WHEELER EV,NEW,TW,19.02,NaN
3,XVFPGTO00005799778,45148,46944,7,7-12,60,7,7.000000,0.000000,53,...,SALARIED,MARUTI SUZUKI,2023.0,ALTO,K10C VXI+ PETROL,K10C VXI+ PETROL,NEW,CAR,12.18,NaN
4,XVFPUCD00006262141,45311,47107,2,0-6,60,2,2.000000,0.000000,58,...,ASSET BASED,MARUTI SUZUKI,2023.0,FRONX,FRONX SIGMA 1.2L 5MT CNG,FRONX SIGMA 1.2L 5MT CNG,NEW,MUV,12.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875923,X2WHDTW00000364087,39665,40364,187,36+,24,24,2.000000,22.000000,0,...,SELF EMPLOYED NON PROFESSIONAL,BAJAJ,2008.0,DISCOVER 135 SPORTS,NaN,ES DRUM,NEW,TW,23.86,NaN
875924,X2WHBVR00001289402,41953,42531,112,36+,20,20,17.008230,2.991770,0,...,SELF EMPLOYED,HONDA MOTORS SCOOTER INDIA,2014.0,ACTIVA,NaN,ACTIVA,NEW,TW,23.17,NaN
875925,X2WHNDD00001298687,41974,42675,111,36+,24,24,18.066457,5.933543,0,...,SALARIED-NON FORMAL,HERO,2014.0,PASSION PRO,NaN,SELF SPOKES,NEW,TW,22.00,NaN
875926,X2WHLDA00001309145,41983,42500,111,36+,18,18,16.024224,1.975776,0,...,SELF EMPLOYED,HONDA,2014.0,ACTIVA,NaN,ACTIVA,NEW,TW,22.66,NaN
875927,X2WHSOL00001308558,41983,42684,111,36+,24,24,21.081633,2.918367,0,...,NO INCOME PROOF,HERO,2014.0,XTREAM DRUM,NaN,XTREAM DRUM,NEW,TW,23.11,NaN

In [53]:
pd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875928 entries, 0 to 875927
Data columns (total 63 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AGREEMENTNO         875928 non-null  object
 1   EMI_STARTDATE       875928 non-null  int64
 2   LAST_EMI_DATE       875928 non-null  int64
 3   SEASONING           875928 non-null  int64
 4   SEASONING GRP       875928 non-null  object
 5   TENURE              875928 non-null  int64
 6   BILLING             875928 non-null  int64
 7   PAID TENURE         875928 non-null  float64
 8   UNPAID TENURE       875928 non-null  float64
 9   FUTURE TENURE       875928 non-null  int64
 10  PAID %              875928 non-null  float64
 11  PAID TENURE GRP     875928 non-null  object
 12  COLOR CODING        0 non-null       float64
 13  PRODUCT             875928 non-null  object
 14  NEW PRODUCT         0 non-null       float64
 15  Sub Product         875928 non-null  object
 16  SCHEME              875928 non-null  object
 17  ZONE                875928 non-null  object
 18  REGION              875928 non-null  object
 19  AREA OFFICE         875928 non-null  object
 20  BRANCH              875928 non-null  object
 21  HIGH DELINQUENT     0 non-null       float64
 22  CUSTOMERNAME        875928 non-null  object
 23  ASSETCOST           875928 non-null  float64
 24  AMTFIN              875928 non-null  float64
 25  EMI                 875928 non-null  float64
 26  AVG_EMI             875928 non-null  float64
 27  EMI_OS              875928 non-null  float64
 28  POS                 809707 non-null  float64
 29  OD_PLUS_POS         875928 non-null  float64
 30  Nov'23              817623 non-null  float64
 31  Dec'23              817623 non-null  float64
 32  Jan'24              847314 non-null  float64
 33  Feb'24              875928 non-null  float64
 34  Difference          0 non-null       float64
 35  3 MTHS STATUS       875928 non-null  object
 36  Payment Status      0 non-null       float64
 37  Principal_Paid      875928 non-null  float64
 38  Principal_Overdue   875928 non-null  float64
 39  INTCOMP_BILLED      875928 non-null  float64
 40  INTCOMP_RECD        875927 non-null  float64
 41  ACCRUEDAMT          869269 non-null  float64
 42  IENC                875928 non-null  float64
 43  GV PAYABLE          875928 non-null  float64
 44  GV PAID AS OF NOW   875928 non-null  float64
 45  INSTL_MODE          0 non-null       float64
 46  DPD                 875928 non-null  int64
 47  NO OF_INS           875928 non-null  float64
 48  BKT GRP             875928 non-null  object
 49  NPA_STAGE_ID        875928 non-null  object
 50  PAYMODE             875928 non-null  object
 51  DOB                 860444 non-null  object
 52  AGREEMENTDATE       875928 non-null  int64
 53  CUSTOMER_CATG_DESC  875859 non-null  object
 54  MANUFACTURERDESC    875924 non-null  object
 55  YEAR_OF_MANF        875436 non-null  float64
 56  MAKE                875928 non-null  object
 57  MODEL_NO            858865 non-null  object
 58  ASSETDESC           875928 non-null  object
 59  ASSETTYPE           875928 non-null  object
 60  CATGDESC            875928 non-null  object
 61  CUSTOMER_IRR        875928 non-null  float64
 62  SECURITSATION_BANK  0 non-null       float64
dtypes: float64(32), int64(8), object(23)
memory usage: 421.0+ MB

In [54]:
pd_3=pd3.iloc[: ,[0,1,2,3,4,5,6,7,8,9,10,11,35]]

In [55]:
#pd4=pd.read_excel(r"D:\Stock working file\PD FILE 11.Feb2024 END.xlsb",sheet_name='base 2')
pd4

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,...,CUSTOMER_CATG_DESC,MANUFACTURERDESC,YEAR_OF_MANF,MAKE,MODEL_NO,ASSETDESC,ASSETTYPE,CATGDESC,CUSTOMER_IRR,SECURITSATION_BANK
0,XTRASNA00005072423,44875,46578,16,13-18,57,16,16.000000,0.000000,41,...,AGRI BASED,EICHER TMTL,2022,EIC 368-36 HP,EIC 368-36 HP,TRACTOR,NEW,TRACTOR,15.10,NaN
1,XTRACBA00004138839,44375,46170,33,25-35,60,33,33.000000,0.000000,27,...,GREEN CHANNEL,MAHINDRA AND MAHINDRA,2021,M 475 DI MKM,M 475 DI MKM,M 475 DI MKM,NEW,TRACTOR,17.63,NaN
2,XTRAMSA00002408983,43429,45437,60,36+,67,60,60.000000,0.000000,7,...,AGRI BASED,JOHN DEERE,2018,JD 5105-40 HP,JD 5105-40 HP,TRACTOR,NEW,TRACTOR,17.00,NaN
3,XTRASUM00002414709,43276,45010,63,36+,58,58,52.023369,5.976631,0,...,AGRI BASED,SWARAJ,2018,SWARAJ 744-48 HP,SWARAJ 744-48 HP,TRACTOR,NEW,TRACTOR,18.42,NaN
4,XTRAKHS00002414330,43276,44464,65,36+,40,40,40.000000,0.000000,0,...,PRIOR VEHICLE WITHOUT RTR,EICHER MOTORS LTD,2014,EIC 485-45 HP,EIC 485-45 HP,TRACTOR,USED,TRACTOR,20.81,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258425,XTRARMG00006090478,45311,46315,2,0-6,34,2,2.000000,0.000000,32,...,AGRI BASED,MAHINDRA AND MAHINDRA,2023,M 475 SARPANCH,M 475 SARPANCH,TRACTOR,NEW,TRACTOR,14.71,NaN
258426,XTRABWI00005555355,45056,46731,10,7-12,56,10,10.000000,0.000000,46,...,AGRI BASED,SONALICA INTERNATIONAL TRACTORS LTD,2023,SONALIKA DI-734-III - 35 HP,SONALIKA DI-734-III - 35 HP,TRACTOR,NEW,TRACTOR,14.51,NaN
258427,XTRASUM00005503223,45051,46726,10,7-12,56,10,9.178082,0.821918,46,...,AGRI BASED,ESCORTS KUBOTA LIMITED,2023,ESCORTS PT EURO 42 PLUS-42 HP,ESCORTS PT EURO 42 PLUS-42 HP,TRACTOR,NEW,TRACTOR,16.00,NaN
258428,XTRAMAJ00003811602,44224,45958,38,36+,58,38,38.000000,0.000000,20,...,AGRI BASED,EICHER TMTL,2020,EIC 557-55HP,EIC 557-55HP,TRACTOR,NEW,TRACTOR,18.51,NaN
258429,XTRANLR00004363738,44528,45563,28,25-35,35,28,27.934247,0.065753,7,...,AGRI BASED,JOHN DEERE,2021,JD 5310-55 HP/LOADER,JD 5310-55 HP/LOADER,TRACTOR,NEW,TRACTOR,16.00,NaN

In [56]:
pd4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258430 entries, 0 to 258429
Data columns (total 63 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AGREEMENTNO         258430 non-null  object
 1   EMI_STARTDATE       258430 non-null  int64
 2   LAST_EMI_DATE       258430 non-null  int64
 3   SEASONING           258430 non-null  int64
 4   SEASONING GRP       258430 non-null  object
 5   TENURE              258430 non-null  int64
 6   BILLING             258430 non-null  int64
 7   PAID TENURE         258430 non-null  float64
 8   UNPAID TENURE       258430 non-null  float64
 9   FUTURE TENURE       258430 non-null  int64
 10  PAID %              258430 non-null  float64
 11  PAID TENURE GRP     258430 non-null  object
 12  COLOR CODING        0 non-null       float64
 13  PRODUCT             258430 non-null  object
 14  NEW PRODUCT         0 non-null       float64
 15  Sub Product         258430 non-null  object
 16  SCHEME              258430 non-null  object
 17  ZONE                258430 non-null  object
 18  REGION              258430 non-null  object
 19  AREA OFFICE         258430 non-null  object
 20  BRANCH              258430 non-null  object
 21  HIGH DELINQUENT     0 non-null       float64
 22  CUSTOMERNAME        258430 non-null  object
 23  ASSETCOST           258430 non-null  int64
 24  AMTFIN              258430 non-null  float64
 25  EMI                 258430 non-null  float64
 26  AVG_EMI             228577 non-null  float64
 27  EMI_OS              258430 non-null  float64
 28  POS                 234129 non-null  float64
 29  OD_PLUS_POS         258430 non-null  float64
 30  Nov'2023            247263 non-null  float64
 31  Dec'2023            247263 non-null  float64
 32  Jan'2024            252601 non-null  float64
 33  Feb'2024            258430 non-null  float64
 34  Difference          0 non-null       float64
 35  3 MTHS STATUS       258430 non-null  object
 36  Payment Status      0 non-null       float64
 37  Principal_Paid      258430 non-null  float64
 38  Principal_Overdue   258430 non-null  float64
 39  INTCOMP_BILLED      258430 non-null  float64
 40  INTCOMP_RECD        258429 non-null  float64
 41  ACCRUEDAMT          257681 non-null  float64
 42  IENC                258430 non-null  float64
 43  GV PAYABLE          258430 non-null  float64
 44  GV PAID AS OF NOW   258430 non-null  float64
 45  INSTL_MODE          0 non-null       float64
 46  DPD                 258430 non-null  int64
 47  NO OF_INS           258430 non-null  float64
 48  BKT GRP             258430 non-null  object
 49  NPA_STAGE_ID        258430 non-null  object
 50  PAYMODE             258430 non-null  object
 51  DOB                 258129 non-null  float64
 52  AGREEMENTDATE       258430 non-null  int64
 53  CUSTOMER_CATG_DESC  258430 non-null  object
 54  MANUFACTURERDESC    258430 non-null  object
 55  YEAR_OF_MANF        258430 non-null  int64
 56  MAKE                258430 non-null  object
 57  MODEL_NO            255028 non-null  object
 58  ASSETDESC           258430 non-null  object
 59  ASSETTYPE           258430 non-null  object
 60  CATGDESC            258430 non-null  object
 61  CUSTOMER_IRR        258430 non-null  float64
 62  SECURITSATION_BANK  0 non-null       float64
dtypes: float64(31), int64(10), object(22)
memory usage: 124.2+ MB

In [57]:
pd_4=pd4.iloc[: ,[0,1,2,3,4,5,6,7,8,9,10,11,35]]

In [58]:
pd_dump = pd.concat([pd_1, pd_2, pd_3, pd_4], ignore_index=True)

In [59]:
pd_dump

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS
0,XVFPRAA00005354202,44985,45501,13,13-18,18,13,13.000000,0.000000,5,0.688617,PAID 50%-74%,Paid 4 out of 4
1,XVFPCHU00006371782,45342,46042,1,0-6,24,1,1.000000,0.000000,23,0.034928,PAID <25%,<4 Month
2,XVFPBMI00006240898,45296,45996,2,0-6,24,2,1.178082,0.821918,22,0.016452,PAID <25%,<4 Month
3,XVFPBKR00005187788,44920,46167,15,13-18,42,15,12.797260,2.202740,27,0.175786,PAID <25%,Paid 3 out of 4
4,XVFPHGD00004448567,44571,46001,26,25-35,48,26,25.342466,0.657534,22,0.423996,PAID 25%-49%,Paid 4 out of 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495361,XTRARMG00006090478,45311,46315,2,0-6,34,2,2.000000,0.000000,32,0.067793,PAID <25%,<4 Month
2495362,XTRABWI00005555355,45056,46731,10,7-12,56,10,10.000000,0.000000,46,0.112359,PAID <25%,Paid 4 out of 4
2495363,XTRASUM00005503223,45051,46726,10,7-12,56,10,9.178082,0.821918,46,0.103345,PAID <25%,Paid 4 out of 4
2495364,XTRAMAJ00003811602,44224,45958,38,36+,58,38,38.000000,0.000000,20,0.544106,PAID 50%-74%,Paid 4 out of 4
2495365,XTRANLR00004363738,44528,45563,28,25-35,35,28,27.934247,0.065753,7,0.726345,PAID 50%-74%,Paid 0 out of 1

In [60]:
pd_dump['EMI_STARTDATE']=pd.to_datetime(pd_dump['EMI_STARTDATE'],unit='D',origin='30-12-1899')
pd_dump['LAST_EMI_DATE']=pd.to_datetime(pd_dump['LAST_EMI_DATE'],unit='D',origin='30-12-1899')

In [61]:
pd_dump['EMI_STARTDATE']=pd_dump['EMI_STARTDATE'].dt.strftime('%d-%m-%Y')
pd_dump['LAST_EMI_DATE']=pd_dump['LAST_EMI_DATE'].dt.strftime('%d-%m-%Y')

In [62]:
pd_dump['SEASONING GRP'] = "'" + pd_dump['SEASONING GRP'].astype(str)

In [64]:
pd_dump

,AGREEMENTNO,EMI_STARTDATE,LAST_EMI_DATE,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS
0,XVFPRAA00005354202,28-02-2023,28-07-2024,13,'13-18,18,13,13.000000,0.000000,5,0.688617,PAID 50%-74%,Paid 4 out of 4
1,XVFPCHU00006371782,20-02-2024,20-01-2026,1,'0-6,24,1,1.000000,0.000000,23,0.034928,PAID <25%,<4 Month
2,XVFPBMI00006240898,05-01-2024,05-12-2025,2,'0-6,24,2,1.178082,0.821918,22,0.016452,PAID <25%,<4 Month
3,XVFPBKR00005187788,25-12-2022,25-05-2026,15,'13-18,42,15,12.797260,2.202740,27,0.175786,PAID <25%,Paid 3 out of 4
4,XVFPHGD00004448567,10-01-2022,10-12-2025,26,'25-35,48,26,25.342466,0.657534,22,0.423996,PAID 25%-49%,Paid 4 out of 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495361,XTRARMG00006090478,20-01-2024,20-10-2026,2,'0-6,34,2,2.000000,0.000000,32,0.067793,PAID <25%,<4 Month
2495362,XTRABWI00005555355,10-05-2023,10-12-2027,10,'7-12,56,10,10.000000,0.000000,46,0.112359,PAID <25%,Paid 4 out of 4
2495363,XTRASUM00005503223,05-05-2023,05-12-2027,10,'7-12,56,10,9.178082,0.821918,46,0.103345,PAID <25%,Paid 4 out of 4
2495364,XTRAMAJ00003811602,28-01-2021,28-10-2025,38,'36+,58,38,38.000000,0.000000,20,0.544106,PAID 50%-74%,Paid 4 out of 4
2495365,XTRANLR00004363738,28-11-2021,28-09-2024,28,'25-35,35,28,27.934247,0.065753,7,0.726345,PAID 50%-74%,Paid 0 out of 1

In [65]:
pd_dump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495366 entries, 0 to 2495365
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   AGREEMENTNO      object
 1   EMI_STARTDATE    object
 2   LAST_EMI_DATE    object
 3   SEASONING        int64
 4   SEASONING GRP    object
 5   TENURE           int64
 6   BILLING          int64
 7   PAID TENURE      float64
 8   UNPAID TENURE    float64
 9   FUTURE TENURE    int64
 10  PAID %           float64
 11  PAID TENURE GRP  object
 12  3 MTHS STATUS    object
dtypes: float64(3), int64(4), object(6)
memory usage: 247.5+ MB

In [66]:
pd_out=pd.merge(deli_output1,pd_dump[['EMI_STARTDATE','LAST_EMI_DATE','SEASONING','SEASONING GRP','TENURE','BILLING','PAID TENURE','UNPAID TENURE','FUTURE TENURE','PAID %','PAID TENURE GRP','3 MTHS STATUS','AGREEMENTNO']],left_on='Agreement',right_on='AGREEMENTNO',how='left')
pd_out

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS,AGREEMENTNO
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,'13-18,48,16,16.000000,0.000000,32,0.236647,PAID <25%,Paid 4 out of 4,XVFPPNE00005032853
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,'0-6,36,5,3.158904,1.841096,31,0.024115,PAID <25%,Paid 1 out of 3,XVFPDGR00005956350
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,'13-18,60,13,7.641096,5.358904,47,0.013228,PAID <25%,Paid 0 out of 4,XTRACOO00005294252
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,'13-18,24,13,11.652055,1.347945,11,0.385167,PAID 25%-49%,Paid 0 out of 2,XVFPPNE00005325826
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,'0-6,36,2,1.342466,0.657534,34,0.003021,PAID <25%,<4 Month,XVFPTGA00006262418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,'7-12,48,12,7.890411,4.109589,36,0.035025,PAID <25%,Paid 0 out of 2,XVFPABL00005449643
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,'0-6,36,4,4.000000,0.000000,32,0.081605,PAID <25%,<4 Month,XVFPGMI00006068662
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,'0-6,48,1,1.000000,0.000000,47,0.012307,PAID <25%,<4 Month,XVFPKRK00006354774
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,'7-12,36,8,7.671233,0.328767,28,0.128452,PAID <25%,Paid 2 out of 3,XVFPKRK00005743646
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,'7-12,36,9,9.000000,0.000000,27,0.193029,PAID <25%,Paid 4 out of 4,XVFPKRK00005633836

In [67]:
pd_output=pd_out.drop(columns=['AGREEMENTNO'])
pd_output

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,SEASONING,SEASONING GRP,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,16,'13-18,48,16,16.000000,0.000000,32,0.236647,PAID <25%,Paid 4 out of 4
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,5,'0-6,36,5,3.158904,1.841096,31,0.024115,PAID <25%,Paid 1 out of 3
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,13,'13-18,60,13,7.641096,5.358904,47,0.013228,PAID <25%,Paid 0 out of 4
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,13,'13-18,24,13,11.652055,1.347945,11,0.385167,PAID 25%-49%,Paid 0 out of 2
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,2,'0-6,36,2,1.342466,0.657534,34,0.003021,PAID <25%,<4 Month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,12,'7-12,48,12,7.890411,4.109589,36,0.035025,PAID <25%,Paid 0 out of 2
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,4,'0-6,36,4,4.000000,0.000000,32,0.081605,PAID <25%,<4 Month
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,1,'0-6,48,1,1.000000,0.000000,47,0.012307,PAID <25%,<4 Month
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,8,'7-12,36,8,7.671233,0.328767,28,0.128452,PAID <25%,Paid 2 out of 3
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,9,'7-12,36,9,9.000000,0.000000,27,0.193029,PAID <25%,Paid 4 out of 4

In [68]:
#pd_output.to_csv('D:\\Stock working file\\stockfile2.csv',index=False)

In [69]:
#rollrate1=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet1')
rollrate1

               AGREEMENTNO  Allocation DPD Allocation Month GRP
0       XVFPBUN00006467680               0                    0
1       XVFPCUT00004530968               0                    0
2       XVFPBUN00006471772               0                    0
3       XVFPBDA00005992774               0                    0
4       XVFPHOO00006420437               0                    0
...                    ...             ...                  ...
832719  XVFPMPA00005726667              17                    X
832720  XVFPKNA00005979741              22                    X
832721  XVFPNYN00005632165              22                    X
832722  XVFPHVF00005922684              22                    X
832723  XVFPEVF00005793300              27                    X

[832724 rows x 3 columns]

In [70]:
#rollrate2=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet2')
rollrate2

               AGREEMENTNO  Allocation DPD Allocation Month GRP
0       X0CEKAT00004763964              12                PRE X
1       X0CERGN00005425891               0                    0
2       XSHUAVF00006281393               0                    0
3       X0CEKRJ00005217516               0                    0
4       XVFPHAP00006339876               0                    0
...                    ...             ...                  ...
871539  X0CERHI00003735491              22                    X
871540  XVFPKAT00004664982              22                    X
871541  XVFPKAT00004665370              22                    X
871542  XVFPKAT00004665474              22                    X
871543  XVFPKAT00004665178              22                    X

[871544 rows x 3 columns]

In [71]:
#rollrate3=pd.read_excel(r"D:\Stock working file\Roll Rate.xlsb",sheet_name='Sheet3')
rollrate3

               AGREEMENTNO  Allocation DPD Allocation Month GRP
0       XVFPPAM00006336777              27                    X
1       XVFPPAM00006336778              27                    X
2       XVFPPAM00006336779              27                    X
3       XVFPKAY00006335063               0                    0
4       XVFPRUB00006329959               0                    0
...                    ...             ...                  ...
786709  XTRARMG00006090478               0                    0
786710  XTRABWI00005555355               0                    0
786711  XTRASUM00005503223              56                  1-2
786712  XTRAMAJ00003811602               0                    0
786713  XTRANLR00004363738               0                    0

[786714 rows x 3 columns]

In [72]:
rollrate = pd.concat([rollrate1, rollrate2, rollrate3], ignore_index=True)

In [73]:
rollrate

                AGREEMENTNO  Allocation DPD Allocation Month GRP
0        XVFPBUN00006467680               0                    0
1        XVFPCUT00004530968               0                    0
2        XVFPBUN00006471772               0                    0
3        XVFPBDA00005992774               0                    0
4        XVFPHOO00006420437               0                    0
...                     ...             ...                  ...
2490977  XTRARMG00006090478               0                    0
2490978  XTRABWI00005555355               0                    0
2490979  XTRASUM00005503223              56                  1-2
2490980  XTRAMAJ00003811602               0                    0
2490981  XTRANLR00004363738               0                    0

[2490982 rows x 3 columns]

In [74]:
rollrate_output=pd.merge(pd_output,rollrate[['Allocation DPD','Allocation Month GRP','AGREEMENTNO']],left_on='Agreement',right_on='AGREEMENTNO',how='left')
rollrate_output

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS,Allocation DPD,Allocation Month GRP,AGREEMENTNO
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,16,16.000000,0.000000,32,0.236647,PAID <25%,Paid 4 out of 4,27,X,XVFPPNE00005032853
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,5,3.158904,1.841096,31,0.024115,PAID <25%,Paid 1 out of 3,87,2-3,XVFPDGR00005956350
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,13,7.641096,5.358904,47,0.013228,PAID <25%,Paid 0 out of 4,194,6-7,XTRACOO00005294252
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,13,11.652055,1.347945,11,0.385167,PAID 25%-49%,Paid 0 out of 2,72,2-3,XVFPPNE00005325826
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,2,1.342466,0.657534,34,0.003021,PAID <25%,<4 Month,51,1-2,XVFPTGA00006262418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,12,7.890411,4.109589,36,0.035025,PAID <25%,Paid 0 out of 2,156,5-6,XVFPABL00005449643
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,4,4.000000,0.000000,32,0.081605,PAID <25%,<4 Month,22,X,XVFPGMI00006068662
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,1,1.000000,0.000000,47,0.012307,PAID <25%,<4 Month,22,X,XVFPKRK00006354774
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,8,7.671233,0.328767,28,0.128452,PAID <25%,Paid 2 out of 3,41,1-2,XVFPKRK00005743646
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,9,9.000000,0.000000,27,0.193029,PAID <25%,Paid 4 out of 4,22,X,XVFPKRK00005633836

In [75]:
rollrate_output1=rollrate_output.drop(columns=['AGREEMENTNO'])
rollrate_output1

,Agreement,Engine Number,Chassis Number,Seizure Date,Seizure Charges,Repossession: Created Date,Re-possession type,Parking Yard Vendor (Empaneled),Repo Agent Vendor (Empaneled),Zone,...,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS,Allocation DPD,Allocation Month GRP
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,48,16,16.000000,0.000000,32,0.236647,PAID <25%,Paid 4 out of 4,27,X
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,36,5,3.158904,1.841096,31,0.024115,PAID <25%,Paid 1 out of 3,87,2-3
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,60,13,7.641096,5.358904,47,0.013228,PAID <25%,Paid 0 out of 4,194,6-7
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,24,13,11.652055,1.347945,11,0.385167,PAID 25%-49%,Paid 0 out of 2,72,2-3
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,36,2,1.342466,0.657534,34,0.003021,PAID <25%,<4 Month,51,1-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,48,12,7.890411,4.109589,36,0.035025,PAID <25%,Paid 0 out of 2,156,5-6
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,36,4,4.000000,0.000000,32,0.081605,PAID <25%,<4 Month,22,X
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,48,1,1.000000,0.000000,47,0.012307,PAID <25%,<4 Month,22,X
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,36,8,7.671233,0.328767,28,0.128452,PAID <25%,Paid 2 out of 3,41,1-2
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,36,9,9.000000,0.000000,27,0.193029,PAID <25%,Paid 4 out of 4,22,X

In [76]:
rollrate_output1['Allocation Month GRP'] = "'" + rollrate_output1['Allocation Month GRP'].astype(str)

In [77]:
rollrate_output1.rename(columns={'Re-possession type':'Seizure type','Parking Yard Vendor (Empaneled)':'Parking Yard Name','Repo Agent Vendor (Empaneled)':'SEIZURE AGENT NAME','Category Rev':'Category','Repossession: Created Date':'Term System Process date','Prime/Shubh':'Product','EMI_OS':'EMI OD','Agreement':'Agreements','LAST_EMI_DATE':'EMI_ENDDATE','STATE':'STATE HEAD','Allocation DPD':'Allocation Bucket No.of INS','Allocation Month GRP':'Allocation Month Grp','Engine Number':'Engine No','Chassis Number':'Chassis No','Seizure Charges':'Seizure amt '},inplace=True)

In [78]:
#rollrate_output1.to_csv('D:\\Stock working file\\stockfile3.csv',index=False)

In [107]:
#release_tracker=pd.read_excel(r'D:\Stock working file\FORMAT RELEASE TRACKER.xlsb',sheet_name='07 MAR 2024')
#release_tracker

In [108]:
#rollrate_output2=pd.merge(rollrate_output1,release_tracker[['AGRNO','TypeOfsale','Sale amount']],left_on='Agreements',right_on='AGRNO',how='left')
#rollrate_output2

In [109]:
#rollrate_output_2=rollrate_output2.rename(columns={'TypeOfsale':'Sale Type','Sale amount':'Sale Amount'})
#rollrate_output_2

In [110]:
#rollrate_output3=rollrate_output_2.drop(columns=['AGRNO','GV IN LACS'])
#rollrate_output3

In [111]:
rollrate_output11=rollrate_output1.drop(columns=['GV IN LACS'])
rollrate_output11

,Agreements,Engine No,Chassis No,Seizure Date,Seizure amt,Term System Process date,Seizure type,Parking Yard Name,SEIZURE AGENT NAME,Zone,...,TENURE,BILLING,PAID TENURE,UNPAID TENURE,FUTURE TENURE,PAID %,PAID TENURE GRP,3 MTHS STATUS,Allocation Bucket No.of INS,Allocation Month Grp
0,XVFPPNE00005032853,S1A9147796,MBX0006FFZA082342,27/03/2024,NaN,28/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,48,16,16.000000,0.000000,32,0.236647,PAID <25%,Paid 4 out of 4,27,'X
1,XVFPDGR00005956350,G3N4E0506610,ME1RG67M6P0001647,27/03/2024,3000.0,28/03/2024,Seizure,GAURDEUM SECURITIES-DUNGARPUR-MPY-BIK-307,Meena Associates-SEZUDA1158,NORTH,...,36,5,3.158904,1.841096,31,0.024115,PAID <25%,Paid 1 out of 3,87,'2-3
2,XTRACOO00005294252,E3674561,T053598526BL,28/03/2024,NaN,28/03/2024,As is Where Is,Mijanur Miah,As is Where Is,EAST,...,60,13,7.641096,5.358904,47,0.013228,PAID <25%,Paid 0 out of 4,194,'6-7
3,XVFPPNE00005325826,HENY2212484019,MEPHEHPSB11AL8635,28/03/2024,3500.0,28/03/2024,Seizure,VASNSH PARKING YARD - PURNEA - PYAPUR1037,JAY BHAWANI RECOVERY AGENCY - PURNEA - SEZPUR2397,EAST,...,24,13,11.652055,1.347945,11,0.385167,PAID 25%-49%,Paid 0 out of 2,72,'2-3
4,XVFPTGA00006262418,KC01AEPHG01648,MBLKCU115PHG00901,28/03/2024,NaN,28/03/2024,Seizure,JARSHAD PARKING YARD - PYAJAI166,Chola Inhouse,NORTH,...,36,2,1.342466,0.657534,34,0.003021,PAID <25%,<4 Month,51,'1-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,XVFPABL00005449643,K12MN7602254,MA3EWB22SLM693211,28/03/2024,16000.0,29/03/2024,Stop and Release,Shree Balaji Motor Yard Company PYACHA950,Poonia Associates Pvt Ltd - SEZHIS167,NORTH,...,48,12,7.890411,4.109589,36,0.035025,PAID <25%,Paid 0 out of 2,156,'5-6
61,XVFPGMI00006068662,JF16EVPGG00136,MBLJFN240PGG00442,28/03/2024,NaN,29/03/2024,Surrender,Luhaniwal Industries Parking Yard - PYASRI431,Chola Inhouse,NORTH,...,36,4,4.000000,0.000000,32,0.081605,PAID <25%,<4 Month,22,'X
62,XVFPKRK00006354774,AF4NP4600872,MD6M14LF5P4N00267,28/03/2024,7500.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,48,1,1.000000,0.000000,47,0.012307,PAID <25%,<4 Month,22,'X
63,XVFPKRK00005743646,HC15EG1001771,ME4HC152EPG001474,28/03/2024,6000.0,29/03/2024,Seizure,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,36,8,7.671233,0.328767,28,0.128452,PAID <25%,Paid 2 out of 3,41,'1-2
64,XVFPKRK00005633836,PDXCPL84089,MD2B54DX1PCL72619,28/03/2024,5000.0,29/03/2024,Surrender,YPN Infrastructure Developers Pvt Ltd - PYAPUR743,MISHRA VEHICLE REPOSSESSION AGENCY - SEZPUR2511,EAST,...,36,9,9.000000,0.000000,27,0.193029,PAID <25%,Paid 4 out of 4,22,'X

In [112]:
df=pd.read_excel(r"C:\Users\natrajsekarvs\Downloads\Book4.xlsx")
df

Empty DataFrame
Columns: [S.NO, Stock Status, Seizure type, Terminated, Pending Details, Sale Type, Final Status, Zone, Region, Area, Branch, Product, PRODUCT GRP, SUB PRODUCT, Agreements, Customer ID, Customer Name, Agmt Date, Provision Amount, GV, Closing Bucket No.of INS, Closing Bucket Bucket, Closing Bucket Status, Tentative Bucket No.of INS, Tentative Bucket, Tentative Bucket Status, Allocation Bucket No.of INS, Allocation Month Grp, Allocation Bucket Status, RC Status, Insurance Status, TAX VALIDITY TILL ( Mention Month/YY), Vehicle Condition, Legal/Non Legal, Legal remarks, Non-Legal remarks, Expected sale price, Category, New/used, Manufacturer, Asset, Make, Seizure Date, BKT Grp, Product.1, Month End Date, Days, Ageing, Age, pos, EMI OD, Manufacture Year, Reg no, Term System Process date, ParkingYardID, Parking Yard Name, EMI_STARTDATE, EMI_ENDDATE, SEASONING, SEASONING GRP, TENURE, BILLING, PAID TENURE, UNPAID TENURE, FUTURE TENURE, PAID %, PAID TENURE GRP, 3 MTHS STATUS, Status, Sale Amount, Loss Calc, Manual Loss, Net Impact of NCL, SEIZURE AGENT NAME, Seizure amt , Overall NCL Colour, Sale Colour, NPA_STAGE_ID, Engine No, Chassis No, POS/NON POS COMFORT STATUS, SeizureAgentID, aa \ TYPE OF SALE, aaa \  SALE AMT, 100000 \ Region, aaaa \ Area, STATE HEAD, SALE PRODUCT, New Allocation Month Grp, Bala, Gallop, Sale error, Sale type, Sale Amt, sale error status with final sale, Final stock status Vasanth, fghjk, Daily DPD, Daily Month GRP, gfiuyrt, ...]
Index: []

[0 rows x 113 columns]

In [113]:
df1 = pd.concat([df, rollrate_output11], ignore_index=True)

In [114]:
df1

,S.NO,Stock Status,Seizure type,Terminated,Pending Details,Sale Type,Final Status,Zone,Region,Area,...,Daily delete,Catega,CAU - Corporate legal Manivannan,legal work,Old Agreement no 1,Old Agreement no 2,Old agreement no 3,Topup sale price,15th Dec 2023 sale report published case,Not Paid regions
0,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 4,DUNGARPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,As is Where Is,NaN,NaN,NaN,NaN,EAST,WEST BENGAL 3,COOCHBEHAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 1,ALWAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,Stop and Release,NaN,NaN,NaN,NaN,NORTH,HARYANA,AMBALA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 3,SRI GANGANAGAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
#df1['Final Status']=np.where(
#    (df1['Sale Type'].isna()),
#    "Stock",
#    "Sale"
#)

In [116]:
df1['BKT Grp']=df1['Allocation Month Grp']

In [117]:
end_month=pd.to_datetime(datetime.today().replace(day=1) + timedelta(days=32)).replace(day=1) - timedelta(days=1)
formated=end_month.strftime('%d/%m/%Y')

In [118]:
df1['Month End Date']=formated

In [119]:
df1['Seizure Date']=pd.to_datetime(df1['Seizure Date'],format='%d/%m/%Y')
df1['Month End Date']=pd.to_datetime(df1['Month End Date'],format='%d/%m/%Y')

In [120]:
df1['Days']=(df1['Month End Date'] - df1['Seizure Date']).dt.days

In [121]:
df1['Ageing']=df1.apply(lambda x: "360 & Above" if x['Days'] > 360 else("181-360" if x['Days']>180 else("151-180" if x['Days']>150 else("121-150" if x['Days']>120 else("91-120" if x['Days']>90 else("61-90" if x['Days']>60 else("31-60" if x['Days']>30 else "0-30")))))),axis=1)

In [122]:
df1['Age']=df1.apply(lambda x:">=60" if x['Days']>=60 else("<60"),axis=1)

In [123]:
#df1['Status']=df1.apply(lambda row: f'Sale from {row['Stock Status']}' if row['Sale Type']!='' else '',axis=1)

In [124]:
#df1['Status']=np.where(
#    (~df1['Sale Type'].isna()),
#    f'Sale from {df1['Stock Status']}',
#    '',
#)

In [125]:
df1['Loss Calc']=df1['GV']-df1['Sale Amount']

In [126]:
df1['Manual Loss']=df1.apply(lambda x:"0" if x['Sale Type']=='Re-activation' else("0" if x['Loss Calc']<=0 else x['Loss Calc']),axis=1).round(2)

In [127]:
df1['GV']=(df1['GV']/100000).round(2)

In [128]:
df1

,S.NO,Stock Status,Seizure type,Terminated,Pending Details,Sale Type,Final Status,Zone,Region,Area,...,Daily delete,Catega,CAU - Corporate legal Manivannan,legal work,Old Agreement no 1,Old Agreement no 2,Old agreement no 3,Topup sale price,15th Dec 2023 sale report published case,Not Paid regions
0,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 4,DUNGARPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,As is Where Is,NaN,NaN,NaN,NaN,EAST,WEST BENGAL 3,COOCHBEHAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 1,ALWAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,Stop and Release,NaN,NaN,NaN,NaN,NORTH,HARYANA,AMBALA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,NORTH,RAJASTHAN 3,SRI GANGANAGAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,Seizure,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,Surrender,NaN,NaN,NaN,NaN,EAST,BIHAR 4,PURNEA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
df1['Parking Yard Name']=df1['Parking Yard Name'].str.strip()
park['Vendor Name']=park['Vendor Name'].str.strip()

In [130]:
df1['SEIZURE AGENT NAME']=df1['SEIZURE AGENT NAME'].str.strip()
seizure['Vendor Name']=seizure['Vendor Name'].str.strip()

In [131]:
yard_look=park.set_index('Vendor Name')['Yard Id'].to_dict()

In [132]:
seizure_look=seizure.set_index('Vendor Name')['Yard Id'].to_dict()

In [133]:
df1['ParkingYardID']=df1['Parking Yard Name'].map(yard_look)

In [134]:
df1['SeizureAgentID']=df1['SEIZURE AGENT NAME'].map(seizure_look)

In [135]:
df1.to_csv('D:\\Stock working file\\Gallop_stockfile.csv',index=False)